<div class="grupos container mt-2">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="{{grupo.imagem}}" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3 class="card-title">{{grupo.descricao}}</h3>
        
                    <div class="form-group col-md-6" id="qrcode2" onchange="qrcodeFormat()"></div>
                                  <input type="hidden" class="form-control" id="qrcode" name="qrcode" placeholder="QrCode do Grupo"
              value="{{grupo.qrcode}}"> 


          <p class="card-text mt-2">QrCode: {{grupo.qrcode}}</p>
          <p class="card-text"><small class="text-muted">Data de Criação: {{grupo.data}}</small></p>
        
        </div>
      </div>
    </div>
  </div>
</div>
