<div class="groups container mt-2">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="{{subgroup.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3 class="card-title">{{subgroup.description}}</h3>
          <div class="form-admin col-md-6" id="qrcode2" onchange="qrcodeFormat()"></div>
                      <input type="hidden" class="form-control" id="qrcode" name="qrcode" placeholder="QrCode do group"
              value="{{subgroup.qrcode}}">
         <h5 class="card-title mt-2">group: {{subgroup.group}}</h5>
         
          <p class="card-text mt-2">QrCode: {{subgroup.qrcode}}</p>
          <p class="card-text"><small class="text-muted">date de Criação: {{subgroup.date}}</small></p>         
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>