<div class="container mt-2">
  <h2>Subgrupos</h2>
  <a href="/group/subgrupos/add"><button class="btn btn-success">Novo Subgrupo <i class="fas fa-share"></i></button></a>

  <hr>
    <button type="button" class="btn btn-primary" onclick="mostrarlista()">Lista <i class="fas fa-th-list"></i></button>
  <button type="button" class="btn btn-primary" onclick="mostrartabela()">Tabela <i class="fas fa-table"></i></button>
  
  <!--VIZULIZAÇÃO EM TABELA-->
  <div id="table" class="card mt-2" style='display: none;'>
    <div class="card-body">
      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Grupo</th>
              <th scope="col">descricao</th>
              <th scope="col">qrcode</th>
              <th scope="col">Criação</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {{#each subgrupos}}
            <tr>
              <th scope="row">{{_id}}</th>
              <td>{{grupo.descricao}}</td>
              <td>{{descricao}}</td>
              <td>{{qrcode}}</td>
              <td>{{data}}</td>
              <td>
                <a href="/group/subgrupos/saibamais/{{_id}}" class="btn btn-dark mt-2"><i
                    class="fas fa-align-right"></i></a>
                <a href="/group/subgrupos/edit/{{_id}}"><button class="btn btn-primary mt-2"><i
                      class="fas fa-pen"></i></button></a>
                <a href="/group/subgrupos/deletar/{{_id}}"><button class="deletar btn btn-danger mt-2"><i
                      class="fas fa-trash-alt"></i></button></a>
                </form>
              </td>
            </tr>
            {{else}}
            <h4 class="mt-2">Nenhum Subgrupo Registrado!</h4>
            {{/each}}
          </tbody>
          <nav class="mt-2" aria-label="Navegação de página exemplo">
        </table>
        <nav class="mt-2" aria-label="Navegação de página exemplo">
      <ul class="pagination">
        {{#if prev}}
        <li class="page-item"><a class="page-link" href="{{prev}}">Anterior</a></li>
        {{/if}}
        {{#paginate}}
        <li class="page-item"><a class="page-link" href="{{link}}">{{number}}</a></li>
        {{/paginate}}
        <li class="page-item"><a class="page-link" href="{{next}}">Próximo</a></li>
      </ul>
    </nav>
      </div>
    </div>
  </div>

  <!--VIZULIZAÇÃO EM LISTA-->
  <div id="card" class="card mt-2" style='display: block;'>
    {{#each subgrupos}}
    <div class="card mt-3">
      <div id="card2" class="card-body">
        <h4>{{descricao}}</h4>
        <h6>Grupo: {{grupo.descricao}}</h6>
        <a href="/group/subgrupos/saibamais/{{_id}}" class="btn btn-dark mt-2"><i class="fas fa-align-right"></i></a>
        <a href="/group/subgrupos/edit/{{_id}}"><button class="btn btn-primary mt-2"><i class="fas fa-pen"></i></button></a>
        <a href="/group/subgrupos/deletar/{{_id}}"><button class="deletar btn btn-danger mt-2"><i
              class="fas fa-trash-alt"></i></button></a>
      </div>
    </div>
    {{else}}
    <h4 class="mt-2 mb-2">Nenhum Grupo Registrado!</h4>
    {{/each}}
        <nav class="px-md-2 mt-2"  aria-label="Navegação de página exemplo">
      <ul class="pagination" >
        {{#if prev}}
        <li class="page-item"><a class="page-link" href="{{prev}}">Anterior</a></li>
        {{/if}}
        {{#paginate}}
        <li class="page-item"><a class="page-link" href="{{link}}">{{number}}</a></li>
        {{/paginate}}
        <li class="page-item"><a class="page-link" href="{{next}}">Próximo</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="mt-2"></div>