
<nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #0075be;">
        <a class="navbar-brand mr-auto" href="/"><!--<h3>WarehouseApp</h3>-->
        <img src="/img/logo6.png" width="200" alt="">
        </a>
{{#if user}}
      <button type="button" class="btn btn-primary" onclick="muda();" ><i class="fas fa-adjust"></i></button></a>

        <button class="navbar-toggler d-block" type="button" id="navToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        
  
        <div class="navbar-collapse offcanvas-collapse">
        
 <ul class="navbar-nav ">
   <div class="row no-gutters position-relative">
   <div class="col-12 col-md-12 mb-md-0 p-md-0 text-center">
   <img src="{{user.image}}" style="width: 8rem;" alt="" class="rounded-circle">
   <h6 style="color: white;">{{user.nome}}</h6>
   </div>
   </div>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sites / Obras
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{#each customers}}
                    <a class="dropdown-item" value="{{_id}}" href="/products/{{_id}}"><small>{{description}}</small></a>
                    {{else}}
                    <option value="0">Nenhum Site registrado</option>
                    {{/each}}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Dashboards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/groups">Sobre o app</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Downloads</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/groups/">Dashboard</a>
          <a class="dropdown-item" href="/products/request">Requisitar</a>
          <a class="dropdown-item" href="/products/receivement">Receber</a>
          <a class="dropdown-item" href="/products">Produtos</a>
          <a class="dropdown-item" href="/groups/groups">Grupos</a>
          <a class="dropdown-item" href="/groups/subgroups">Subgrupos</a>
          <a class="dropdown-item" href="/leases/leases">Locações</a>
          <a class="dropdown-item" href="/subleases/subleases">Sublocações</a>  
          <a class="dropdown-item" href="/status/status">Status</a> 
          <a class="dropdown-item" href="/types/types">Tipos</a>      
          <a class="dropdown-item" href="/breaks/breaks">Intervalos</a>
          <a class="dropdown-item" href="/units/units">Unidades</a>
          <a class="dropdown-item" href="/usuarios/users">Usuários</a>
          <a class="dropdown-item" href="/providers/providers">Fornecedores</a>
          <a class="dropdown-item" href="/customers/customers">Clientes</a>
          <a class="dropdown-item" href="/collaborators/collaborators">Colaboradores</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Painel Administrativo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/developers/">Desenvolvedor</a>
          <a class="dropdown-item" href="">Painel Administrativo</a>
        </div>
      </li>
      {{#if user}}

        <a class="nav-link"  href="/usuarios/logout">Sair</a>

      {{else}}

        <a class="nav-link"  href="/usuarios/login">Login</a>

  
        <a class="nav-link"  href="/usuarios/registro">Registro</a>

      {{/if}}
      
    </ul>


        </div>
        {{else}}
        {{/if}}
    </nav>
    