<nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #0075be;">
  <a class="navbar-brand mr-auto" href="/">
    <!--<h3>WarehouseApp</h3>-->
    <img src="https://warehousemapp.s3.amazonaws.com/logo6.png" width="200" alt="">
  </a>
  {{#if user}}
  <button type="button" class="btn btn-primary" onclick="muda();"><i class="fas fa-adjust"></i></button></a>

  <button class="navbar-toggler d-block" type="button" id="navToggle">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse">

    <ul class="navbar-nav ">
      <div class="row no-gutters position-relative">
        <div class="col-12 col-md-12 mb-md-0 p-md-0 text-center">
          <img src="{{user.image}}" style="width: 8rem;" alt="" class="rounded-circle">
          <h6 style="color: white;">{{user.nome}}</h6>
        </div>
      </div>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sites / Obras
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{#each sites}}
          <a class="dropdown-item" value="{{_id}}" href="/products/{{_id}}"><small>{{description}}</small></a>
          {{else}}
          <option value="0">Nenhum Site registrado</option>
          {{/each}}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/request">Tabela Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/groups">Sobre o app</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Downloads</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="d-none d-md-block dropdown-item" href="/dashboards">Dashboard</a>
          <a class="d-block d-md-none dropdown-item" href="/dashboards/mobile">Dashboard</a>
          <a class="dropdown-item" href="/products/request">Requisitar</a>
          <a class="dropdown-item" href="/products/receivement">Receber</a>
          <a class="dropdown-item" href="/products">Produtos</a>
          <a class="dropdown-item" href="/groups/groups">Grupos</a>
          <a class="dropdown-item" href="/groups/subgroups">Subgrupos</a>
          <a class="dropdown-item" href="/rentalareas/rentalareas">Áreas de Locações</a>
          <a class="dropdown-item" href="/leases/leases">Locações</a>
          <a class="dropdown-item" href="/subleases/subleases">Sublocações</a>
          <a class="dropdown-item" href="/status/status">Status</a>
          <a class="dropdown-item" href="/types">Tipos de Equipamento</a>
          <a class="dropdown-item" href="/breaks/breaks">Intervalos</a>
          <a class="dropdown-item" href="/unitys">Unidades</a>
          <a class="dropdown-item" href="/usuarios/users">Usuários</a>
          <a class="dropdown-item" href="/providers/providers">Fornecedores</a>
          <a class="dropdown-item" href="/customers/customers">Clientes</a>
          <a class="dropdown-item" href="/collaborators/collaborators">Colaboradores</a>
        </div>
      </li>
{{#if ./ user.eDevAdmin}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Área Restrita
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/types/tabledev">Tipos de Equipamentos</a>
          <a class="dropdown-item" href="/unitys/tabledev">Unidades</a>
        </div>
      </li>
{{/if}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Painel Administrativo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/developers/">Desenvolvedor</a>
          <a class="dropdown-item" href="">Painel Administrativo</a>
        </div>
      </li>
      {{#if user}}

      <a class="nav-link" href="/usuarios/logout">Sair</a>

      {{else}}

      <a class="nav-link" href="/usuarios/login">Login</a>


      <a class="nav-link" href="/usuarios/registro">Registro</a>

      {{/if}}

    </ul>


  </div>
  {{else}}
  {{/if}}
</nav>