<nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #0075be;">
  <a class="navbar-brand mr-auto" href="/">
    <!--<h3>WarehouseApp</h3>-->
    <img src="https://warehousemapp.s3.amazonaws.com/logo6.png" width="200" alt="">
  </a>
  {{#if user}}
  <button type="button" class="btn btn-primary" onclick="muda();"><i class="fas fa-adjust"></i></button></a>

  <button class="navbar-toggler d-block" type="button" id="navToggle">
    <span class="navbar-toggler-icon"></span>
  </button>

     <!--FOTO E NOME DO USUARIO LOGADO-->
  <div class="navbar-collapse offcanvas-collapse">
    <ul class="navbar-nav ">
      <div class="row no-gutters position-relative">
        <div class="col-12 col-md-12 mb-md-0 p-md-0 text-center">
          <img src="{{user.image}}" style="width: 8rem;" alt="" class="rounded-circle">
          <h6 style="color: white;">{{user.nome}}</h6>
        </div>
      </div>

      <!--HOME-->
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <!--PLANEJAMENTO-->
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick="viewPlanning('menuPlanning')">Planejamento <i
            class="fas fa-caret-down"></i><span class="sr-only">(current)</span></a>
      </li>

      <div id="menuPlanning" class="text-center">
        <a class="dropdown-item" href="/customers/customers" style="color:#0075be;">Cadastro de Obra</a>

        <a class="nav-link" href="#" onclick="viewSite('menuSite')" style="color:#0075be;">Meus Sites <i
            class="fas fa-caret-down"></i><span class="sr-only">(current)</span></a>
        <div id="menuSite" class="text-center">
          {{#each sites}}
          <a class="nav-link" style="color: white;" value="{{_id}}"
            href="/products/{{_id}}"><small>{{description}}</small></a>
          {{else}}
          <option value="0">Nenhum Site registrado</option>
          {{/each}}
        </div>

        <a class="dropdown-item" href="/customers/customers" style="color:#0075be;">Dados Planejamento</a>
        <a class="dropdown-item" href="/planning" style="color:#0075be;">Solicitaçao de Ativos</a>
      </div>

      <!--CONSULTAS-->
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick="viewPlanning('menuSearch')">Consultas <i
            class="fas fa-caret-down"></i><span class="sr-only">(current)</span></a>
      </li>

      <div id="menuSearch" class="text-center">
        <a class="dropdown-item" href="/customers/customers" style="color:#0075be;">Planejamento Obras</a>

        <a class="dropdown-item" href="/customers/customers" style="color:#0075be;">Envios e Notas Fiscais</a>

        <a class="dropdown-item" href="/customers/customers" style="color:#0075be;">Ordens de Compra</a>

        <a class="dropdown-item" href="/customers/customers" style="color:#0075be;">Ativos HBS</a>

      </div>

      <!--ALMOXARIFADO-->
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick="viewPlanning('menuWarehouse')">Almoxarifado <i
            class="fas fa-caret-down"></i><span class="sr-only">(current)</span></a>
      </li>

      <div id="menuWarehouse" class="text-center">
        <a class="nav-link" href="#" onclick="viewSiteWarehouse('menuSiteWarehouse')" style="color:#0075be;">Meus Sites
          <i class="fas fa-caret-down"></i><span class="sr-only">(current)</span></a>
        <div id="menuSiteWarehouse" class="text-center">
          {{#each sites}}
          <a class="nav-link" style="color: white;" value="{{_id}}"
            href="/products/{{_id}}"><small>{{description}}</small></a>
          {{else}}
          <option value="0">Nenhum Site registrado</option>
          {{/each}}
        </div>

        <a class="dropdown-item" href="/customers/customers" style="color:#0075be;">Solicitações</a>

        <a class="dropdown-item" href="/customers/customers" style="color:#0075be;">Relatórios</a>

        <a class="nav-link" href="#" onclick="viewSiteDashboard('menuSiteDashboard')" style="color:#0075be;">Dashboards
          <i class="fas fa-caret-down"></i><span class="sr-only">(current)</span></a>
        <div id="menuSiteDashboard" class="text-center">
          {{#each sites}}
          <a class="nav-link" style="color: white;" value="{{_id}}"
            href="/products/{{_id}}"><small>{{description}}</small></a>
          {{else}}
          <option value="0">Nenhum Site registrado</option>
          {{/each}}
        </div>


        <a class="nav-link" href="#" onclick="viewSiteRegister('menuSiteRegister')" style="color:#0075be;">Cadastros <i
            class="fas fa-caret-down"></i><span class="sr-only">(current)</span></a>
        <div id="menuSiteRegister">
          <a class="d-none d-md-block nav-link" style="color: white;" href="/dashboards">Dashboard</a>
          <a class="d-block d-md-none nav-link" style="color: white;" href="/dashboards/mobile">Dashboard</a>
          <a class="nav-link" style="color: white;" href="/products/request">Requisitar</a>
          <a class="nav-link" style="color: white;" href="/products/receivement">Receber</a>
          <a class="nav-link" style="color: white;" href="/products">Produtos</a>
          <a class="nav-link" style="color: white;" href="/groups/groups">Grupos</a>
          <a class="nav-link" style="color: white;" href="/groups/subgroups">Subgrupos</a>
          <a class="nav-link" style="color: white;" href="/rentalareas/rentalareas">Áreas de Locações</a>
          <a class="nav-link" style="color: white;" href="/leases/leases">Locações</a>
          <a class="nav-link" style="color: white;" href="/subleases/subleases">Sublocações</a>
          <a class="nav-link" style="color: white;" href="/status/status">Status</a>
          <a class="nav-link" style="color: white;" href="/types">Tipos de Equipamento</a>
          <a class="nav-link" style="color: white;" href="/breaks/breaks">Intervalos</a>
          <a class="nav-link" style="color: white;" href="/unitys">Unidades</a>
          <a class="nav-link" style="color: white;" href="/usuarios/users">Usuários</a>
          <a class="nav-link" style="color: white;" href="/providers/providers">Fornecedores</a>
          <a class="nav-link" style="color: white;" href="/customers/customers">Clientes</a>
          <a class="nav-link" style="color: white;" href="/collaborators/collaborators">Colaboradores</a>
        </div>

      </div>

      <li class="nav-item">
        <a class="nav-link" href="/groups">Sobre o app</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Downloads</a>
      </li>

      {{#if ./ user.eDevAdmin}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Área Restrita
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/types/tabledev">Tipos de Equipamentos</a>
          <a class="dropdown-item" href="/unitys/tabledev">Unidades</a>
        </div>
      </li>
      {{/if}}
      {{#if user}}

      <a class="nav-link" href="/usuarios/logout">Sair</a>

      {{else}}

      <a class="nav-link" href="/usuarios/login">Login</a>


      <a class="nav-link" href="/usuarios/registro">Registro</a>

      {{/if}}

    </ul>


  </div>
  {{else}}
  {{/if}}
</nav>

<script>
  function viewPlanning(el) {
    var display = document.getElementById(el).style.display;
    if (display == "none")
      document.getElementById(el).style.display = 'block';
    else
      document.getElementById(el).style.display = 'none';
  }

  function viewSite(el) {
    var display = document.getElementById(el).style.display;
    if (display == "none")
      document.getElementById(el).style.display = 'block';
    else
      document.getElementById(el).style.display = 'none';
  }

  function viewSearch(el) {
    var display = document.getElementById(el).style.display;
    if (display == "none")
      document.getElementById(el).style.display = 'block';
    else
      document.getElementById(el).style.display = 'none';
  }

  function viewWarehouse(el) {
    var display = document.getElementById(el).style.display;
    if (display == "none")
      document.getElementById(el).style.display = 'block';
    else
      document.getElementById(el).style.display = 'none';
  }

  function viewSiteWarehouse(el) {
    var display = document.getElementById(el).style.display;
    if (display == "none")
      document.getElementById(el).style.display = 'block';
    else
      document.getElementById(el).style.display = 'none';
  }

  function viewWarehouse(el) {
    var display = document.getElementById(el).style.display;
    if (display == "none")
      document.getElementById(el).style.display = 'block';
    else
      document.getElementById(el).style.display = 'none';
  }

  function viewSiteDashboard(el) {
    var display = document.getElementById(el).style.display;
    if (display == "none")
      document.getElementById(el).style.display = 'block';
    else
      document.getElementById(el).style.display = 'none';
  }

  function viewSiteRegister(el) {
    var display = document.getElementById(el).style.display;
    if (display == "none")
      document.getElementById(el).style.display = 'block';
    else
      document.getElementById(el).style.display = 'none';
  }


</script>