<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header text-center">
            <img src="{{user.image}}" style="width: 3rem;" alt="" class="rounded-circle">
            <h6>{{user.nome}}</h6>

            <strong class="px-2">{{first user.nome}}</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                    Home
                </a>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-chart-line"></i>
                    Planejamento
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/customers/customers">Cadastro de Obras</a>
                    </li>
                    <li>
                    <li>
                        <a href="/planning">Dashboard</a>
                    </li>
                    <li>
                        <a href="/planning/sites">Dados de Planejamento</a>
                    </li>
                    <li>
                        <a href="#pageSites" data-toggle="collapse" aria-expanded="false">
                            Solicitação de Ativos
                        </a>
                        <ul class="collapse list-unstyled" id="pageSites">
                            <li>
                                {{#each sites}}
                                <a href="/planning/planning/{{_id}}">{{description}}</a>
                                {{else}}
                                <option value="0">Você não possui nenhuma obra para solicitar Material</option>
                                {{/each}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Cadastros
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/warehouses">Obras / Armazéns</a>
                    </li>
                    <li>
                        <a href="/collaborators">Calaboradores</a>
                    </li>
                    <li>
                        <a href="/providers">Fornecedores</a>
                    </li>
                    <li>
                        <a href="/groups">Grupos</a>
                    </li>
                    <li>
                        <a href="/subgroups">Subgrupos</a>
                    </li>
                    <li>
                        <a href="/areas">Áreas de Locação</a>
                    </li>
                    <li>
                        <a href="/locations">Locações</a>
                    </li>
                    <li>
                        <a href="/subleases">Sublocações</a>
                    </li>
                    <li>
                        <a href="/types">Tipos de Equipamento</a>
                    </li>
                    <li>
                        <a href="/unitys">Padrões de Unidades</a>
                    </li>
                    <li>
                        <a href="/intervals">Intervalos de Certificação</a>
                    </li>
                    <li>
                        <a href="/statuses">Status Físico</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/products">
                    <i class="fas fa-image"></i>
                    Produtos
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="/developers">
                    <i class="fas fa-code"></i>
                    Área Dev
                </a>
            </li>
            {{#if user}}
            <li>
                <a href="/usuarios/logout">
                    <i class="fas fa-times"></i>
                    Sair</a>
            </li>
            {{else}}
            <li>
                <a href="/usuarios/login">
                    <i class="fas fa-sign-in-alt"></i>
                    Login</a>


                <a href="/usuarios/registro">
                    <i class="fas fa-user-plus"></i>
                    Registro</a>
            </li>
            {{/if}}

        </ul>
    </nav>