<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header text-center">
            <img src="{{user.image}}" style="width: 3rem;" alt="" class="rounded-circle">
            <h6>{{user.nome}}</h6>

            <strong class="px-2">{{first user.nome}}</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                    Home
                </a>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-chart-line"></i>
                    Planejamento
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/warehouses/create">Cadastro de Obras</a>
                    </li>
                    <li>
                    <li>
                        <a href="/planning/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="/planning/sites">Dados de Planejamento</a>
                    </li>
                    <li>
                        <a href="/planning" data-toggle="modal" data-target="#exampleModalCenter">Solicitação
                            de Ativos</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Cadastros
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/warehouses">Obras / Armazéns</a>
                    </li>
                    <li>
                        <a href="/collaborators">Calaboradores</a>
                    </li>
                    <li>
                        <a href="/providers">Fornecedores</a>
                    </li>
                    <li>
                        <a href="/groups">Grupos</a>
                    </li>
                    <li>
                        <a href="/subgroups">Subgrupos</a>
                    </li>
                    <li>
                        <a href="/areas">Áreas de Locação</a>
                    </li>
                    <li>
                        <a href="/locations">Locações</a>
                    </li>
                    <li>
                        <a href="/subleases">Sublocações</a>
                    </li>
                    <li>
                        <a href="/types">Tipos de Equipamento</a>
                    </li>
                    <li>
                        <a href="/unitys">Padrões de Unidades</a>
                    </li>
                    <li>
                        <a href="/intervals">Intervalos de Certificação</a>
                    </li>
                    <li>
                        <a href="/statuses">Status Físico</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/products">
                    <i class="fas fa-image"></i>
                    Produtos
                </a>
            </li>
            <li>
                <a href="requests/products">
                    <i class="fas fa-question"></i>
                    teste
                </a>
            </li>
            <li>
                <a href="/developers">
                    <i class="fas fa-code"></i>
                    Área Dev
                </a>
            </li>
            {{#if user}}
            <li>
                <a href="/usuarios/logout">
                    <i class="fas fa-times"></i>
                    Sair</a>
            </li>
            {{else}}
            <li>
                <a href="/usuarios/login">
                    <i class="fas fa-sign-in-alt"></i>
                    Login</a>


                <a href="/usuarios/registro">
                    <i class="fas fa-user-plus"></i>
                    Registro</a>
            </li>
            {{/if}}

        </ul>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Podemos usar uma obra como referência</h5>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Fechar</button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        {{#each warehouseCard}}
                        <div class="col-md-3 mt-1">
                            <div class="card bg-dark">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <div class="p-0 mr-auto">
                                            <h6 class="card-title text-light">{{warehouse.description}}</h6>
                                        </div>
                                        <div class="p-0">
                                            <a href="/planning/products/{{warehouse._id}}">
                                                <button type="button" class="btn btn-success btn-sm" onclick="search()">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="container">
                            <h6>Você ja solicitou uma obra como refêrenicia para solicitação de material caso deseje
                                adicionar outra obra como referência, saia desta sessão e logue novamente!!!</h6>
                        </div>
                        {{/each}}
                    </div>
                    <hr>
                    <div class="row justify-content-center mt-1">
                        <h6>Ou podemos começar um novo pedido do zero, escolha a obra</h6>
                    </div>
                    <div class="row justify-content-center mt-1">
                        {{#each sites}}
                        <a href="/planning/{{_id}}"><button type="button"
                                class="btn btn-primary btn-sm">{{description}}</button></a>
                        {{else}}
                        <option value="0">Você não possui nenhuma obra para solicitar Material</option>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>