<script>
    function select(id) {
        window.location.assign(`/planning/dashboard/${id || ""}`);
    }
</script>
<div class="mt-2 container-fluid">
    <div class="form-row justify-content-between">
        <div class="p-1 mr-auto">
            <h4><i class="fas fa-chart-pie" style="color:#0075be;"></i> Dashboard</h4>
            <h5>{{siteNow.description}}</h5>
        </div>
</div>
        <div class="form-row justify-content-between">
        <div class="p-1 ">
            <p><small>Personalizar Vizualização:</small></p>
        </div>
        <div class="p-1 mr-auto">
            <select class="custom-select custom-select-sm" name="SelectOptions" id="SelectOptions">
                <option selected disabled hidden>Escolher...</option>
                <!--<option value="tableDs">Tabela de Dados</option>-->
                <option value="contDs">Contadores</option>
                <option value="searchDs">Campos de Pesquisa</option>
                <option value="chartDs">Gráficos</option>
            </select>
        </div>
    </div>

    <div class="searchDs form-row justify-content-around">
        <div class="form-group col-md-2">
            <div class="input-group input-group-sm">
                <input type="text-sm" class="form-control" id="search" name="search" placeholder="Pesquise aqui..."
                    value="{{search}}" onchange="search()">
            </div>
        </div>
        <div class="form-group col-md-2">
            <select class="custom-select custom-select-sm" id="site" name="site" onchange="setSite()">
                <option selected disabled hidden>Busque por Obra</option>
                <option value="">Nenhum(a)</option>
                {{#each warehouses}}
                <option value="{{_id}}" {{#if_eq ../site _id}}selected{{/if_eq}}>{{warehouse.description}}</option>
                <option id="option" value="{{_id}}">{{count}}</option>
                {{else}}
                <option value="0">Nenhum site registrado</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group col-md-2">
            <select class="custom-select custom-select-sm" id="group" name="group" onchange="setSearchGroup()">
                <option selected disabled hidden>Grupos</option>
                <option value="">Nenhum(a)</option>
                {{#each groups}}
                <option value="{{_id}}" {{#if_eq ../group _id}}selected{{/if_eq}}>{{group.description}}</option>
                <option id="option" value="{{_id}}">{{count}}</option>
                {{else}}
                <option value="0">Nenhum grupo registrado</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group col-md-2">
            <select class="custom-select custom-select-sm" id="subgroup" name="subgroup" onchange="setSearchSubgroup()">
                <option selected disabled hidden>Subgrupos</option>
                <option value="">Nenhum(a)</option>
                {{#each subgroups}}
                <option value="{{_id}}" {{#if_eq ../subgroup _id}}selected{{/if_eq}}>{{subgroup.description}}</option>
                <option id="option" value="{{_id}}">{{count}}</option>
                {{else}}
                <option value="0">Nenhum subgrupo registrado</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-2">
            <select class="custom-select custom-select-sm" id="type" name="type" onchange="setSearchType()">
                <option selected disabled hidden>Tipos de Equipamento</option>
                <option value="">Nenhum(a)</option>
                {{#each types}}
                <option value="{{_id}}" {{#if_eq ../type _id}}selected{{/if_eq}}>{{type.description}}</option>
                <option id="option" value="{{_id}}">{{count}}</option>
                {{else}}
                <option value="0">Nenhum tipo de equipamento registrado</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-2">
            <select class="custom-select custom-select-sm" id="status" name="status" onchange="setSearchStatus()">
                <option selected disabled hidden>Status do Produto</option>
                <option value="">Nenhum(a)</option>
                {{#each statuses}}
                <option value="{{_id}}" {{#if_eq ../status _id}}selected{{/if_eq}}>{{status.description}}</option>
                <option id="option" value="{{_id}}">{{count}}</option>
                {{else}}
                <option value="0">Nenhum status registrado</option>
                {{/each}}
            </select>
        </div>

    </div>

    <div class="contDs form-row justify-content-center mb-2">
        <div class="card-deck">
            <div class="card text-white bg-primary" style="max-width:100%;">
                <div class="card-header">
                    <div class="form-row justify-content-center">
                        <div class="col-md-12 mt-0 text-center">
                            {{#each qtd}}
                            <h4 class="display-5"><i class="fas fa-tools"></i> {{toFixed count 0}}</h4>
                            {{/each}}
                        </div>
                        <div class="form-row justify-content-center">
                            <h6>Itens Cadastrados</h6>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card text-white bg-success" style="max-width:100%;">
                <div class="card-header">
                    <div class="form-row justify-content-center">
                        <div class="col-md-12 mt-0 text-center">
                            {{#each qtd}}
                            <h4 class="display-5"><i class="fas fa-warehouse"></i> {{toFixed qtyStock 0}}</h4>
                            {{/each}}
                        </div>
                        <div class="form-row justify-content-center">
                            <h6>Itens em Estoque</h6>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card text-white bg-secondary" style="max-width: 100%;">
                <div class="card-header">
                    <div class="form-row justify-content-center">
                        <div class="col-md-12 mt-0 text-center">
                            {{#each qtd}}
                            <h4 class="display-5"><i class="fas fa-weight-hanging"></i> {{toFixed weightKg 2}}</h4>
                            {{/each}}
                        </div>
                        <div class="form-row justify-content-center">
                            <h6>Peso Alocado Kg</h6>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card text-white bg-danger" style="max-width: 100%;">
                <div class="card-header">
                    <div class="form-row justify-content-center">
                        <div class="col-md-12 mt-0 text-center">
                            {{#each qtd}}
                            <h4 class="display-5">R$ {{toFixed faceValue 2}}</h4>
                            {{/each}}
                        </div>
                        <div class="form-row justify-content-center">
                            <h6>Valores</h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tableDs">
    <div class="d-flex justify-content-center">
        <div class="p-1 mr-auto">
            <div class="form-group row">
                <label for="client" class="col-sm-7 col-form-label col-form-label-sm">Itens p/ página</label>
                <div class="col-sm-5">
                    <select class="custom-select custom-select-sm" id="limit" name="limit" onchange="setLimit()">
                        <option value="5" {{#if_eq limit 5}}selected{{/if_eq}}>5</option>
                        <option value="10" {{#if_eq limit 10}}selected{{/if_eq}}>10</option>
                        <option value="25" {{#if_eq limit 25}}selected{{/if_eq}}>25</option>
                        <option value="50" {{#if_eq limit 50}}selected{{/if_eq}}>50</option>
                        <option value="100" {{#if_eq limit 100}}selected{{/if_eq}}>100</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="p-1 ">
            <p><small>Visualizar Colunas</small></p>
        </div>
        <div class="p-1 ">
            <select class="custom-select custom-select-sm" name="SelectOptions" id="SelectOptions">
                <option selected disabled hidden>Escolher...</option>
                <option value="pl01">QrCode</option>
                <option value="pl02">Grupo</option>
                <option value="pl03">Subgrupo</option>
                <option value="pl04">Descrição Resumida</option>
                <option value="pl05">Tag</option>
                <option value="pl16">Tipo</option>
                <option value="pl07">Qtd alocada no Projeto</option>
                <option value="pl08">Qtd alocada no Reservada Atual</option>
                <option value="pl09">Qtd Total HBS</option>
                <option value="pl10">Qtd em Uso</option>
                <option value="pl11">Qtd com Pendência</option>
                <option value="pl12">Qtd disponivel</option>
                <option value="pl13">Detalhes</option>
            </select>
        </div>
    </div>
    <!--FORM PARA FINALIZAR PEDIDO-->
    <!--<form action="/planning/planning" method="POST">
          {{#each save}}
          <input type="text" class="mt-2 form-control" name="product[]" value="{{description}}">
          <input type="text" class="mt-2 form-control" name="qty" value="{{qty}}">
          {{else}}
          {{/each}}
      <div class="p-0">

          <button type="submit" class="mr-2 btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom"
            title="Finalize seu pedido clicando aqui!">
            Finalizar Pedido <i class="fas fa-paper-plane"></i>
          </button>

      </div>-->
    <!--TABELA DE DADOS-->
    <div class="table-responsive">
        <table id="tblExport" class="table table-hover table-sm table-bordered">
            <thead>
                <tr>
                    <th class="pl02 d-print-block" scope="col">Grupo</th>
                    <th class="pl03 d-print-block" scope="col">Subgrupo</th>
                    <th class="pl04 d-print-block" scope="col">Descrição Resumida</th>
                    <th class="pl05 d-print-block" scope="col">Tag</th>
                    <th class="pl06 d-print-block" scope="col">Tipo / Acionamento</th>
                    <th class="pl07 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade que ja está no estoque do projeto" style="background-color: #696969;"
                        scope="col">
                        Qtd alocada no
                        Projeto</th>
                    <th class="pl08 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade reservada para envio ao projeto" style="background-color: #708090;"
                        scope="col">
                        Qtd reservada p/
                        projeto</th>
                    <th class="pl09 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade levando em consideração todas as obras mais o almoxarifado Central"
                        scope="col">
                        Qtd Total HBS</th>
                    <th class="pl10 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade levando em consideração somente os itens alocados nas obras"
                        style="background-color: #FFFF00; color:black" scope="col">Qtd em Uso
                    </th>
                    <th class="pl11 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade levando em consideração itens sem condições de uso, ou que precisam de alguma certificação ou reparo"
                        style="background-color: #FF0000;color:black" scope="col">Qtd com
                        Pendência</th>
                    <th class="pl12 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade levando em consideração itens alocados no almoxarifado central"
                        style="background-color: #228B22;" scope="col">Qtd disponivel</th>
                    <th class="pl13 d-print-block" scope="col">Detalhes</th>
                </tr>
            </thead>

            <tbody>
                {{#each products}}
                <form action="/planning/planning" method="POST">
                    <input type="hidden" class="mt-2 form-control" name="description" value="{{_id.description}}">
                    <input type="hidden" class="mt-2 form-control" name="warehouse" value="{{../siteNow._id}}">
                    <tr>
                        <td class="pl01 d-print-block">
                            <figure class="figure">
                                <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{_id.tag}}"
                                    class="figure-img img-fluid rounded" style="max-width: 4rem;"
                                    alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                                <!--<figcaption class="figure-caption">Uma legenda para a imagem acima.</figcaption>-->
                            </figure>
                        </td>
                        <td class="pl02 d-print-block">{{group.description}}</td>
                        <td class="pl03 d-print-block">{{subgroup.description}}</td>
                        <td class="pl04 d-print-block">{{_id.description}}</td>
                        <td class="pl05 d-print-block">{{_id.tag}}</td>
                        <td class="pl06 d-print-block">{{type.description}}</td>
                        {{#find_with_key _id.tag ../siteProducts "_id"}}
                        <td class="pl07 d-print-block" style="background-color: #BEBEBE;">{{stock}}</td>
                        <td class="pl08 d-print-block" style="background-color: #D3D3D3;">{{request}}</td>
                        {{/find_with_key}}
                        {{#find_with_total _id.tag ../totalProducts "_id"}}
                        <td class="pl09 d-print-block" style="background-color: #7EC0EE;">{{stock}}</td>
                        {{/find_with_total}}
                        {{#find_with_use _id.tag ../useProducts "_id"}}
                        <td class="pl10 d-print-block" style="background-color: #EEDD82;">{{stock}}</td>
                        {{/find_with_use}}
                        {{#find_with_use _id.tag ../badProducts "_id"}}
                        <td class="pl11 d-print-block" style="background-color: #F08080;">{{stock}}</td>
                        {{/find_with_use}}
                        {{#find_with_use _id.tag ../hbsProducts "_id"}}
                        <td class="pl12 d-print-block" style="background-color: #90EE90;">{{stock}}</td>
                        {{/find_with_use}}
                        <td class="pl13 d-print-none">
                            <div class="d-flex justify-content-center">
                                <div class="p-0 mr-1">
                                    <a href="/search/actives/{{_id.tag}}" class="btn btn-primary btn-rounded btn-sm m-0"
                                        data-toggle="tooltip" data-placement="bottom" title="Visualizar detalhes">
                                        <i class="fas fa-file-signature"></i>
                                    </a>
                                </div>
                            </div>
                        </td>

                    </tr>
                </form>
                </form>
                {{else}}
                <h4 class="mt-12 mb-2">
                    Nenhum Produto Registrado!
                </h4>
                {{/each}}
            </tbody>

        </table>
    </div>

    <div class="d-flex d-print-none">
        <div class="mr-auto p-2">
            {{#if prev}}
            <button class="btn btn-primary btn-sm mt-2" onclick="navigate(-1)">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Anterior
            </button>
            {{/if}}
        </div>
        <div class="p-2">
            {{#if next}}
            <button class="btn btn-primary btn-sm mt-2" onclick="navigate(1)">
                Próximo
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            {{/if}}
        </div>
    </div>
</div>
    {{#json typeChart}}
    <input type="hidden" id="typeChart" value="{{this}}">
    {{/json}}

    {{#json groupChart}}
    <input type="hidden" id="groupChart" value="{{this}}">
    {{/json}}

    {{#json warehouseChart}}
    <input type="hidden" id="warehouseChart" value="{{this}}">
    {{/json}}

    {{#json statusChart}}
    <input type="hidden" id="statusChart" value="{{this}}">
    {{/json}}


    <!--CHART JS-->
    <div class="chartDs row justify-content-center">
        <div class="col-md-6 mb-1 chart-container " style="position: static; height:100%; width:100%">
            <div class="card">
                <canvas id="line-chart" width="50" height="25"></canvas>
            </div>
        </div>
        <div class="col-md-6 mb-1 chart-container" style="position: static; height:100%; width:100%">
            <div class="card">
                <canvas id="pie-chart" width="50" height="25"></canvas>
            </div>
        </div>
    </div>
    <!--CHART JS-->
    <div class="chartDs row justify-content-center">
        <div class="col-md-6 mb-1 chart-container" style="position: static; height:100%; width:100%">
            <div class="card">
                <canvas id="bar-chart" width="50" height="25"></canvas>
            </div>
        </div>

        <div class="col-md-6 mb-1 chart-container" style="position: static; height:100%; width:100%">
            <div class="card">
                <canvas id="status-chart" width="50" height="25"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- CHART JS  -->
<script src="/js/chart.js"></script>
<script type="text/javascript">
    const data = JSON.parse(document.getElementById("typeChart").value);
    const labels = [];
    const values = [];
    data.forEach(typeChart => {
        labels.push(typeChart.type.description);
        values.push(typeChart.quant);
    });
    window.barChart.config.data.labels = labels;
    window.barChart.config.data.datasets.pop();
    window.barChart.config.data.datasets.push({
        label: "Quantidade (unidade)",
        data: values,
        backgroundColor: [
            '#00008B',
            '#0000FF',
            '#3A5FCD',
            '#4169e1',
            '#1874CD',
            '#00BFFF',
            '#8DB6CD',
            '#6C7B8B',
            '#C6E2FF',
        ],
    });
    window.barChart.update();


    const data2 = JSON.parse(document.getElementById("groupChart").value);
    const labels2 = [];
    const values2 = [];
    data2.forEach(groupChart => {
        labels2.push(groupChart.group.description);
        values2.push(groupChart.quant);
    });
    window.pieChart.config.data.labels = labels2;
    window.pieChart.config.data.datasets.pop();
    window.pieChart.config.data.datasets.push({
        label: "Quantidade (unidade)",
        data: values2,
        backgroundColor: [
            '#363636',
            '#696969',
            '#2F4F4F',
            '#CDC8B1',
            '#000000',
            '#8B0000',
            '#FFA500',
            '#808080',
            '#696969',
            '#000000',

        ],
    });
    window.pieChart.update();



    const data3 = JSON.parse(document.getElementById("warehouseChart").value);
    const labels3 = [];
    const values3 = [];
    data3.forEach(warehouseChart => {
        labels3.push(warehouseChart.warehouse.description);
        values3.push(warehouseChart.quant);
    });
    window.lineChart.config.data.labels = labels3;
    window.lineChart.config.data.datasets.pop();
    window.lineChart.config.data.datasets.push({
        label: "Quantidade (unidade)",
        data: values3,
        backgroundColor: [
            '#00008B',
            '#0000FF',
            '#3A5FCD',
            '#4169e1',
            '#1874CD',
            '#00BFFF',
            '#8DB6CD',
            '#6C7B8B',
            '#C6E2FF',

        ],
    });
    window.lineChart.update();

    const data4 = JSON.parse(document.getElementById("statusChart").value);
    const labels4 = [];
    const values4 = [];
    data4.forEach(statusChart => {
        labels4.push(statusChart.status.description);
        values4.push(statusChart.quant);
    });
    window.statusChart.config.data.labels = labels4;
    window.statusChart.config.data.datasets.pop();
    window.statusChart.config.data.datasets.push({
        label: "Quantidade (unidade)",
        data: values4,
        backgroundColor: [
            '#2F4F4F',
            '#696969',
            '#708090',
        ],
    });
    window.statusChart.update();

</script>