<div class="mt-2 container-fluid">
    <div class="d-none d-md-none d-print-block">
        <div class="d-flex justify-content-center">
            <h3>Suas Obras</h3>
        </div>
    </div>
    <div class="d-block d-md-block d-print-none">
        <div class="d-flex justify-content-center">
            <div class="p-1 mr-auto">
                <h3>Suas Obras</h3>
            </div>
            {{#json typeChart}}
            <input type="hidden" id="typeChart" value="{{this}}">
            {{/json}}

            {{#json groupChart}}
            <input type="hidden" id="groupChart" value="{{this}}">
            {{/json}}
        </div>


        <div class="d-flex justify-content-center">
            <div class="p-1">
                {{#each customers}}
                <a href="/planning/products">
                    <button type="button" class="totalGroup2 btn btn-secondary btn-sm">
                        {{description}}
                    </button>
                </a>
                {{else}}
                <h6>Nenhum Site Registrado</h6>
                {{/each}}
            </div>
        </div>

        <!--CHART JS-->

        <div class="d-flex justify-content-center">
            <div class="px-1" style="position: relative; height:20vh; width:40vw">
                <div class="card">
                    <canvas id="pie-chart" width="600" height="300"></canvas>
                </div>
            </div>
            <div class="px-1" style="position: relative; height:20vh; width:40vw">
                <div class="card">

                    <canvas id="bar-chart" width="600" height="300"></canvas>
                </div>
            </div>
        </div>

    </div>

    <div class="d-block d-md-none d-print-none">
        <div class="d-flex justify-content-center">
            <h3>Suas Obras</h3>
            <hr>
        </div>


        <div class="d-flex justify-content-center">
            <div class="p-1 flex-fill bd-highlight">
                {{#each customers}}
                <a href="/products/{{_id}}">
                    <button type="button" class="btn btn-primary btn-sm btn-block">
                        {{description}}
                    </button>
                </a>
                {{else}}
                <h6>Nenhum Site Registrado</h6>
                {{/each}}
            </div>
        </div>
    </div>

    <!-- CHART JS  -->
    <script src="/js/chart.js"></script>
    <script type="text/javascript">



        const data2 = JSON.parse(document.getElementById("groupChart").value);
        const labels2 = [];
        const values2 = [];
        data2.forEach(groupChart => {
            labels2.push(groupChart.group[0].description);
            values2.push(groupChart.quant);
        });
        window.pieChart.config.data.labels = labels2;
        window.pieChart.config.data.datasets.pop();
        window.pieChart.config.data.datasets.push({
            label: "Quantidade (unidade)",
            data: values2,
            backgroundColor: [
                '#000080',
                '#2F4F4F',
                '#808080',
                '#cd853f',
                '#228b22',
                '#ff4500',
                '#663399',
                '#00ff00',
                '#4169e1'
            ],
        });
        window.pieChart.update();

        const data = JSON.parse(document.getElementById("typeChart").value);
        const labels = [];
        const values = [];
        data.forEach(typeChart => {
            labels.push(typeChart.tp[0].description);
            values.push(typeChart.quant);
        });
        window.barChart.config.data.labels = labels;
        window.barChart.config.data.datasets.pop();
        window.barChart.config.data.datasets.push({
            label: "Quantidade (unidade)",
            data: values,
            backgroundColor: [
                '#ff4500',
                '#663399',
                '#00ff00',
                '#4169e1',
                '#000080',
                '#2F4F4F',
                '#808080',
                '#cd853f',
                '#228b22',


            ],
        });
        window.barChart.update();



    </script>
</div>