<div class="mt-2 container-fluid">
    <div class="d-flex justify-content-center">
        <div class="p-1 mr-auto">
            <h4><i class="fas fa-cogs" style="color:#0075be;"></i> Consulta de Ativos</h4>
            <h5>{{siteNow.description}}</h5>
        </div>

        <!--
        <a href="/search/products">
            <button type="button" class="mr-2 mt-3 btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom"
                title="Vizualize os produtos requisitados, e quando quiser feche seu pedido">
                <small><strong>Itens Requisitados <i class="fas fa-dolly"></i></strong></small>
            </button>
        </a>

        <a href="/search/active">
            <button type="button" class="mr-2 mt-3 btn btn-dark btn-sm " data-toggle="tooltip" data-placement="bottom"
                title="Vizualize o histórico dos seus pedidos">
                <small><strong>Meus Pedidos <i class="fas fa-truck"></i></strong></small>
            </button>
        </a> -->

    </div>
    <div class="d-flex justify-content-center">
        <div class="mr-auto p-1">
            <select class="custom-select custom-select-sm" id="site" name="site" onchange="setSite()">
                <option selected disabled hidden>Busque por Site</option>
                <option value="">Nenhum(a)</option>
                {{#each warehouses}}
                <option value="{{_id}}" {{#if_eq ../site _id}}selected{{/if_eq}}>{{description}}</option>
                {{else}}
                <option value="0">Nenhum site registrado</option>
                {{/each}}
            </select>
        </div>
        <div class="p-1">
            <select class="custom-select custom-select-sm" id="group" name="group" onchange="setSearchGroup()">
                <option selected disabled hidden>Grupos</option>
                <option value="">Nenhum(a)</option>
                {{#each groups}}
                <option value="{{_id}}" {{#if_eq ../group _id}}selected{{/if_eq}}>{{description}}</option>
                {{else}}
                <option value="0">Nenhum grupo registrado</option>
                {{/each}}
            </select>
        </div>
        <div class="p-1">
            <select class="custom-select custom-select-sm" id="subgroup" name="subgroup" onchange="setSearchSubgroup()">
                <option selected disabled hidden>Subgrupos</option>
                <option value="">Nenhum(a)</option>
                {{#each subgroups}}
                <option value="{{_id}}" {{#if_eq ../subgroup _id}}selected{{/if_eq}}>{{description}}</option>
                {{else}}
                <option value="0">Nenhum subgrupo registrado</option>
                {{/each}}
            </select>
        </div>
        <div class="p-1">
            <select class="custom-select custom-select-sm" id="type" name="type" onchange="setSearchType()">
                <option selected disabled hidden>Tipos de Equipamento</option>
                <option value="">Nenhum(a)</option>
                {{#each types}}
                <option value="{{_id}}" {{#if_eq ../type _id}}selected{{/if_eq}}>{{description}}</option>
                {{else}}
                <option value="0">Nenhum tipo de equipamento registrado</option>
                {{/each}}
            </select>
        </div>
        <div class="p-1">
            <select class="custom-select custom-select-sm" id="status" name="status" onchange="setSearchStatus()">
                <option selected disabled hidden>Status do Produto</option>
                <option value="">Nenhum(a)</option>
                {{#each statuses}}
                <option value="{{_id}}" {{#if_eq ../status _id}}selected{{/if_eq}}>{{description}}</option>
                {{else}}
                <option value="0">Nenhum status registrado</option>
                {{/each}}
            </select>
        </div>

        <div class="p-1">
            <div class="input-group input-group-sm mb-3">
                <input type="text-sm" class="form-control" id="search" name="search" placeholder="Pesquise aqui..."
                    value="{{search}}">
            </div>
        </div>

        <div class="p-1">
            <button type="button" class="btn btn-primary btn-sm" onclick="search()">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="p-1 mr-auto">
            <div class="form-group row">
                <label for="client" class="col-sm-7 col-form-label col-form-label-sm">Itens p/ página</label>
                <div class="col-sm-5">
                    <select class="custom-select custom-select-sm" id="limit" name="limit" onchange="setLimit()">
                        <option value="5" {{#if_eq limit 5}}selected{{/if_eq}}>5</option>
                        <option value="10" {{#if_eq limit 10}}selected{{/if_eq}}>10</option>
                        <option value="25" {{#if_eq limit 25}}selected{{/if_eq}}>25</option>
                        <option value="50" {{#if_eq limit 50}}selected{{/if_eq}}>50</option>
                        <option value="100" {{#if_eq limit 100}}selected{{/if_eq}}>100</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="p-1 ">
            <p><small>Visualizar Colunas</small></p>
        </div>
        <div class="p-1 ">
            <select class="custom-select custom-select-sm" name="SelectOptions" id="SelectOptions">
                <option selected disabled hidden>Escolher...</option>
                <option value="act01">Id</option>
                <option value="act02">Imagem</option>
                <option value="act03">qrCode</option>
                <option value="act04">Grupo</option>
                <option value="act05">Subgrupo</option>
                <option value="act06">Descrição Resumida</option>
                <option value="act07">Descrição Completa</option>
                <option value="act08">Tag</option>
                <option value="act09">Patrimônio</option>
                <option value="act10">Seq. Hbs</option>
                <option value="act11">Descrição</option>
                <option value="act12">Fabricante</option>
                <option value="act13">Modelo</option>
                <option value="act14">Cap./Alcance</option>
                <option value="act15">N° de série</option>
                <option value="act16">Tipo / Acionamento</option>
                <option value="act17">Status Físico</option>
                <option value="act18">Obra</option>
                <option value="act19">Periodicidade</option>
                <option value="act20">Certificado</option>
                <option value="act21">Lab. / Ent.</option>
                <option value="act22">Data Calibração</option>
                <option value="act23">Validade Calibração</option>
                <option value="act24">Status Calibração</option>
                <option value="act25">Unidade</option>
                <option value="act26">Qtd. Recebida</option>
                <option value="act27">Qtd alocada no Projeto</option>
                <option value="act28">Qtd reservada p/ projeto</option>
                <option value="act29">Qtd Total HBS</option>
                <option value="act30">Qtd em Uso</option>
                <option value="act31">Qtd com Pendência</option>
                <option value="act32">Qtd disponivel</option>
                <option value="act33">Peso Kg</option>
                <option value="act34">Valor de Face R$</option>
                <option value="act35">Dimensões LxCxA</option>
                <option value="act36">Cód. Sap</option>
                <option value="act37">Cód. Ncm</option>
                <option value="act38">Obs.:</option>
                <option value="act39">Detalhes</option>
            </select>
        </div>
    </div>
    <!--FORM PARA FINALIZAR PEDIDO-->
    <!--<form action="/planning/planning" method="POST">
          {{#each save}}
          <input type="text" class="mt-2 form-control" name="product[]" value="{{description}}">
          <input type="text" class="mt-2 form-control" name="qty" value="{{qty}}">
          {{else}}
          {{/each}}
      <div class="p-0">

          <button type="submit" class="mr-2 btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom"
            title="Finalize seu pedido clicando aqui!">
            Finalizar Pedido <i class="fas fa-paper-plane"></i>
          </button>

      </div>-->
    <!--TABELA DE DADOS-->
    <div class="table-responsive">
        <table id="tblExport" class="table table-hover table-sm table-bordered">
            <thead>
                <tr>
                    <th class="act01 d-print-block" scope="col">Id</th>
                    <th class="act02 d-print-block" scope="col">Imagem</th>
                    <th class="act03 d-print-block" scope="col">qrCode</th>
                    <th class="act04 d-print-block" scope="col">Grupo</th>
                    <th class="act05 d-print-block" scope="col">Subgrupo</th>
                    <th class="act06 d-print-block" scope="col">Descrição Resumida</th>
                    <th class="act07 d-print-block" scope="col">Descrição Completa</th>
                    <th class="act08 d-print-block" scope="col">Tag</th>
                    <th class="act09 d-print-block" scope="col">Patrimônio</th>
                    <th class="act10 d-print-block" scope="col">Seq. Hbs</th>
                    <th class="act11 d-print-block" scope="col">Descrição</th>
                    <th class="act12 d-print-block" scope="col">Fabricante</th>
                    <th class="act13 d-print-block" scope="col">Modelo</th>
                    <th class="act14 d-print-block" scope="col">Cap./Alcance</th>
                    <th class="act15 d-print-block" scope="col">N° de série</th>
                    <th class="act16 d-print-block" scope="col">Tipo / Acionamento</th>
                    <th class="act17 d-print-block" scope="col">Status Físico</th>
                    <th class="act18 d-print-block" scope="col">Obra</th>
                    <th class="act19 d-print-block" scope="col">Periodicidade</th>
                    <th class="act20 d-print-block" scope="col">Certificado</th>
                    <th class="act21 d-print-block" scope="col">Lab. / Ent.</th>
                    <th class="act22 d-print-block" scope="col">Data Calibração</th>
                    <th class="act23 d-print-block" scope="col">Validade Calibração</th>
                    <th class="act24 d-print-block" scope="col">Status Calibração</th>
                    <th class="act25 d-print-block" scope="col">Unidade</th>
                    <th class="act26 d-print-block" scope="col">Qtd. Recebida</th>
                    <th class="act27 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade que ja está no estoque do projeto" style="background-color: #696969;" scope="col">Qtd alocada no
                        Projeto</th>
                    <th class="act28 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade reservada para envio ao projeto" style="background-color: #708090;" scope="col">Qtd reservada p/
                        projeto</th>
                    <th class="act29 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade levando em consideração todas as obras mais o almoxarifado Central" scope="col">Qtd Total HBS</th>
                    <th class="act30 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade levando em consideração somente os itens alocados nas obras" style="background-color: #FFFF00; color:black" scope="col">Qtd em Uso
                    </th>
                    <th class="act31 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade levando em consideração itens sem condições de uso, ou que precisam de alguma certificação ou reparo" style="background-color: #FF0000;color:black" scope="col">Qtd com
                        Pendência</th>
                    <th class="act32 d-print-block" data-toggle="tooltip" data-placement="bottom"
                        title="Quantidade levando em consideração itens alocados no almoxarifado central" style="background-color: #228B22;" scope="col">Qtd disponivel</th>
                    <th class="act33 d-print-block" scope="col">Peso Kg</th>
                    <th class="act34 d-print-block" scope="col">Valor de Face R$</th>
                    <th class="act35 d-print-block" scope="col">Dimensões LxCxA</th>
                    <th class="act36 d-print-block" scope="col">Cód. Sap</th>
                    <th class="act37 d-print-block" scope="col">Cód. Ncm</th>
                    <th class="act38 d-print-block" scope="col">Obs.:</th>
                    <th class="act39 d-print-block" scope="col">Detalhes</th>
                </tr>
            </thead>

            <tbody>
                {{#each products}}
                <form action="/planning/planning" method="POST">
                    <input type="hidden" class="mt-2 form-control" name="description" value="{{description}}">
                    <input type="hidden" class="mt-2 form-control" name="warehouse" value="{{../siteNow._id}}">
                    <tr>
                        <th class="act01 d-print-block">{{_id}}</th>
                        <td class="act02 d-print-block">
                            <figure class="figure">
                                <img src="{{image}}" class="figure-img img-fluid rounded" style="max-width: 4rem;"
                                    alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                            </figure>
                        </td>

                        <td class="act03 d-print-block">
                            <figure class="figure">
                                <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{_id}}"
                                    class="figure-img img-fluid rounded" style="max-width: 4rem;"
                                    alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                                <!--<figcaption class="figure-caption">Uma legenda para a imagem acima.</figcaption>-->
                            </figure>
                        </td>
                        <td class="act04 d-print-block">{{group.description}}</td>
                        <td class="act05 d-print-block">{{subgroup.description}}</td>
                        <td class="act06 d-print-block">{{description}}</td>
                        <td class="act07 d-print-block">{{fullDescription}}</td>
                        <td class="act08 d-print-block">{{tag}}</td>
                        <td class="act09 d-print-block">{{patrimony}}</td>
                        <td class="act10 d-print-block">{{hbsCode}}</td>
                        <td class="act11 d-print-block">{{name}}</td>
                        <td class="act12 d-print-block">{{manufacturer}}</td>
                        <td class="act13 d-print-block">{{model}}</td>
                        <td class="act14 d-print-block">{{capacityReach}}</td>
                        <td class="act15 d-print-block">{{serialNumber}}</td>
                        <td class="act16 d-print-block">{{type.description}}</td>
                        <td class="act17 d-print-block">{{status.description}}</td>
                        <td class="act18 d-print-block">{{warehouse.description}}</td>
                        <td class="act19 d-print-block">{{interval.description}}</td>
                        <td class="act20 d-print-block">{{certificate}}</td>
                        <td class="act21 d-print-block">{{entityLaboratory}}</td>
                        <td class="act22 d-print-block">{{calibrationDate}}</td>
                        <td class="act23 d-print-block">{{calibrationValidity}}</td>
                        <td class="act24 d-print-block">{{calibrationStatus}}</td>
                        <td class="act25 d-print-block">{{unity.description}}</td>
                        <td class="act26 d-print-block">{{qtyRequest}}</td>
                       {{#find_with_key tag ../siteProducts "_id"}}
                        <td class="act27 d-print-block" style="background-color: #BEBEBE;">{{stock}}</td>
                        <td class="act28 d-print-block" style="background-color: #D3D3D3;">{{request}}</td>
                        {{/find_with_key}}
                        {{#find_with_total tag ../totalProducts "_id"}}
                        <td class="act29 d-print-block" style="background-color: #7EC0EE;">{{stock}}</td>
                        {{/find_with_total}}
                        {{#find_with_use tag ../useProducts "_id"}}
                        <td class="act30 d-print-block" style="background-color: #EEDD82;">{{stock}}</td>
                        {{/find_with_use}}
                        {{#find_with_use tag ../badProducts "_id"}}
                        <td class="act31 d-print-block" style="background-color: #F08080;">{{stock}}</td>
                        {{/find_with_use}}
                        {{#find_with_use tag ../hbsProducts "_id"}}
                        <td class="act32 d-print-block" style="background-color: #90EE90;">{{stock}}</td>
                        {{/find_with_use}}
                        <td class="act33 d-print-block">{{weightKg}}</td>
                        <td class="act34 d-print-block">{{faceValue}}</td>
                        <td class="act35 d-print-block">{{dimensionsWxLxH}}</td>
                        <td class="act36 d-print-block">{{sapCode}}</td>
                        <td class="act37 d-print-block">{{ncmCode}}</td>
                        <td class="act38 d-print-block">{{note}}</td>
                        <td class="act39 d-print-none">
                            <div class="d-flex justify-content-center">
                                <div class="p-0 mr-1">
                                    <a href="/search/products/{{tag}}" class="mt-1 mb-1 btn btn-primary btn-sm"
                                        data-toggle="tooltip" data-placement="bottom" title="Visualizar detalhes">
                                        <i class="fas fa-file-signature"></i>
                                    </a>
                                </div>
                            </div>
                        </td>

                    </tr>
                </form>
                </form>
                {{else}}
                <h4 class="mt-12 mb-2">
                    Nenhum Produto Registrado!
                </h4>
                {{/each}}
            </tbody>

        </table>
    </div>

    <div class="d-flex d-print-none">
        <div class="mr-auto p-2">
            {{#if prev}}
            <button class="btn btn-primary btn-sm mt-2" onclick="navigate(-1)">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Anterior
            </button>
            {{/if}}
        </div>
        <div class="p-2">
            {{#if next}}
            <button class="btn btn-primary btn-sm mt-2" onclick="navigate(1)">
                Próximo
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            {{/if}}
        </div>
    </div>
</div>