<div class="mt-2  container-fluid">
    <div class="d-flex justify-content-center">
        <div class="p-1 mr-auto">
            <h3>Minhas Obras</h3>
        </div>
        <div class="p-1">
            <select class="custom-select custom-select-sm" id="site" name="site">
                <option selected disabled hidden>Busque por Obra</option>
                <option value="">Nenhum(a)</option>
                {{#each warehouses}}
                <option value="{{_id}}" {{#if_eq ../site _id}}selected{{/if_eq}}>{{description}}</option>
                {{else}}
                <option value="0">Nenhuma obra registrado</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row justify-content-center">
            {{#each warehouseCard}}
            <div class="col-md-4 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <div class="p-0 mr-auto">
                                <h4 class="card-title text-primary">{{warehouse.description}}</h4>
                                <p class="card-text text-secondary"><small
                                        class="px-1"><b>{{warehouse.plant}}</b></small><small><b>{{warehouse.costCenter}}</b></small>
                                </p>
                            </div>
                            <div class="p-0">
                                <img src="{{warehouse.image}}" style="width: 6rem;" alt="" class="rounded">
                            </div>
                        </div>
                        <hr>
                        <h6 class="card-title">Status Projeto: {{warehouse.active}}</h6>
                        <h6 class="card-title">Cliente: {{warehouse.client}}</h6>
                        <p class="card-text"><small>Data Mobilização: {{warehouse.createdAt}}</small></p>
                        <p class="card-text"><small>Data Desmobilização: {{warehouse.active}}</small></p>
                        <hr>
                        <div class="form-group row px-3">
                            <p class="card-text"><small>IC:: {{ic.description}}</small></p>
                        </div>
                        <hr>
                        <div class="form-group row px-3">
                            <small class="mr-1"><b>Itens Mobilizados: </b></small><input style="width:30%"
                                class="NumberInt car" type="number" value="{{qty}}">
                        </div>
                        <div class="form-group row px-3">
                            <small class="mr-1"><b>Itens em Estoque (Und.): </b></small><input style="width:30%"
                                class="NumberInt car" type="number" value="{{qtyStock}}">
                        </div>
                        <div class="form-group row px-3">
                            <small class="mr-1"><b>Itens Reservados: </b></small><input style="width:30%"
                                class="NumberInt car" type="number" value="{{qtyReservation}}">
                        </div>
                        <div class="form-group row px-3">
                            <small class="mr-1"><b>Peso Kg (Mobilizado): </b></small><input style="width:30%"
                                class="NumberDec car" type="number" value="{{weightKg}}">
                        </div>
                        <div class="form-group row px-3">
                            <small class="mr-1"><b>Valores Ferramental: </b></small><small>R$ </small><input
                                style="width:30%" class="NumberDec car" type="number" value="{{faceValue}}">
                        </div>

                        <a href="#" class="btn btn-primary btn-sm">Ver estoque</a>
                    </div>
                </div>
            </div>
            {{else}}
            <h6>Nenhum Site Registrado</h6>
            {{/each}}
        </div>
    </div>

</div>