<div class="bgRegister">
    <div class="user container">
        
        {{#each erros}}
        <div class="alert alert-danger">{{texto}}</div>
        {{else}}

        {{/each}}
                <div class="cardLogin card">
            <div class="card-body">
                <h3>Editar Conta:</h3>
        <form class="mt-1" method='post' enctype="multipart/form-data" action="/upload">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <img src="{{usuario.image}}" style="width: 150px;" class="avatar img-fluid rounded"
                            alt="Responsive image">
                        <input type="file" accept="image/*" name="file" id="file"
                            class="custom-file-input btn-file text-center center-block file-upload">
                            <div class="d-flex mt-2 justify-content-center">
                        <input type='submit' class='btn btn-primary' value='Upload de imagem'>
                        </div>
                    </div>
                </div>
            
        </form>
        <form action="/usuarios/users/edit/" method="POST">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="hidden" class="form-control" id="id" name="id" placeholder="Id"
                        value="{{usuario._id}}">
                    <input type="hidden" class="form-control" id="qrcode" name="qrcode" placeholder="QrCode do group"
                        value="{{usuario.qrcode}}">
                    <input type="hidden" class="form-control mt-2" name="image" id="image" value="{{usuario.image}}">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome:"
                     value="{{usuario.nome}}">
                    <input type="hidden" class="form-control" id="name" name="name" placeholder="Digite seu nome:"
                        required value="{{usuario.name}}">
                </div>
            </div>
            <input type="hidden" class="form-control" id="date" name="date" placeholder="date"
                value="{{#formatDate date}}{{/formatDate}}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="active">Bloquear Usuário:</label>
                    <select class="custom-select mr-sm-2" id="active" name="active">
                        <option Disabled selected>Selecione...</option>
                        <option value="true">Não</option>
                        <option value="false">Sim</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="group">Permissões:</label>
                    <select class="custom-select mr-sm-2" id="eAdmin" name="eAdmin">
                        <option Disabled selected>Selecione...</option>
                        <option value=0>Usuário</option>
                        <option value=1>Admin</option>
                        <option value=2>Desenvolvedor</option>
                        <option value=3>IC01</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success mt-2">Salvar <i class="fas fa-share"></i></button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>