<div class="mt-2 container">
  {{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
  {{else}}
  {{/each}}
  <!--<canvas class="line-chart"></canvas>-->
  <div class="d-none d-md-none d-print-block">
    <div class="d-flex justify-content-center">

      <h3>Produtos</h3>
    </div>
  </div>
  <div class="d-none d-md-block d-print-none">
    <div class="d-flex justify-content-center">
      <div class="p-1 mr-auto">
        <h3>Produtos</h3>
      </div>

      <div class="p-0 mr-1">
        <a href="/products">
          <button type="button" class="btn btn-primary btn-sm">
            Lista
            <i class="fas fa-th-list"></i>
          </button>
        </a>
      </div>
      <div class="p-0 mr-1">
        <a href="/products/table">
          <button type="button" class="btn btn-primary btn-sm">
            Tabela
            <i class="fas fa-table"></i>
          </button>
        </a>
      </div>
      <div class="p-0">
        <a href="/products/create">
          <button class="mr-2 btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Cadastre ">
            Cadastre um Produto <i class="fas fa-paper-plane"></i>
          </button>
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="p-1 mr-auto">
        <div class="form-group row">
          <label for="client" class="col-sm-7 col-form-label col-form-label-sm">Itens p/ página</label>
          <div class="col-sm-5">
            <select class="custom-select custom-select-sm" id="limit" name="limit" onchange="setLimit()">
              <option value="5" {{#if_eq limit 5}}selected{{/if_eq}}>5</option>
              <option value="10" {{#if_eq limit 10}}selected{{/if_eq}}>10</option>
              <option value="25" {{#if_eq limit 25}}selected{{/if_eq}}>25</option>
              <option value="50" {{#if_eq limit 50}}selected{{/if_eq}}>50</option>
              <option value="100" {{#if_eq limit 100}}selected{{/if_eq}}>100</option>
            </select>
          </div>
        </div>
      </div>
      <div class="p-1 ">
        <p><small>Mais Detalhes</small></p>
      </div>
      <div class="p-1 ">

        <select class="custom-select custom-select-sm" name="SelectOptions" id="SelectOptions">
          <option selected disabled hidden>Escolha...</option>
          <option value="liProd01">Id</option>
          <option value="liProd02">imagem</option>
          <option value="liProd03">QrCode</option>
          <option value="liProd04">Descrição</option>
          <option value="liProd05">Grupo</option>
          <option value="liProd06">Subgrupo</option>
          <option value="liProd07">Tipo de Equipamento</option>
          <option value="liProd08">Data de Lançamento</option>
          <option value="liProd09">Usuário Lançamento</option>
          <option value="liProd10">Email Lançamento</option>
          <option value="liProd11">Data Edição</option>
          <option value="liProd12">Usuário Edição</option>
          <option value="liProd13">Email Edição</option>
          <option value="liProd14">Ações</option>
        </select>
      </div>

      <div class="p-1">
        <div class="input-group input-group-sm mb-3">
          <input type="text-sm" class="form-control" id="search" name="search" placeholder="Pesquise aqui...">
        </div>
      </div>

      <div class="p-1">
        <button type="button" class="btn btn-primary btn-sm" onclick="search()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>

    </div>
  </div>



  <div class="d-block d-md-none d-print-none">
    <div class="d-flex justify-content-center">
      <h3>Produtos</h3>
      <hr>
    </div>

    <div class="d-flex justify-content-center">
      <a href="/products/create">
        <button class="mr-2 btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom"
          title="Cadastre um novo produto">
          Cadastre um Produto <i class="fas fa-paper-plane"></i>
        </button>
      </a>
    </div>


    <div class="d-flex justify-content-center">
      <div class="p-1">
        <div class="input-group input-group-sm mb-3">
          <input type="text-sm" class="search form-control" id="searchMobile" name="searchMobile"
            placeholder="Pesquise aqui..." onchange="this.value=this.value.toLowerCase()" />
        </div>
      </div>

      <div class="p-1 ">
        <button type="button" class="btn btn-primary btn-sm" onclick="search()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>


    <div class="d-flex justify-content-center">
      <div class="p-1">
        <label for="client" class="col-sm-7 col-form-label col-form-label-sm">Itens p/ página</label>
        <div class="col-sm-5">
          <select class="custom-select custom-select-sm" id="limitMobile" name="limitMobile" onchange="setLimit()">
            <option value="5" {{#if_eq limit 5}}selected{{/if_eq}}>5</option>
            <option value="10" {{#if_eq limit 10}}selected{{/if_eq}}>10</option>
            <option value="25" {{#if_eq limit 25}}selected{{/if_eq}}>25</option>
            <option value="50" {{#if_eq limit 50}}selected{{/if_eq}}>50</option>
            <option value="100" {{#if_eq limit 100}}selected{{/if_eq}}>100</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="p-1 ">
        <select class="custom-select custom-select-sm" name="SelectOptionsMobile" id="SelectOptionsMobile">
          <option selected disabled hidden>Escolha...</option>
          <option value="liProd01">Id</option>
          <option value="liProd02">imagem</option>
          <option value="liProd03">QrCode</option>
          <option value="liProd04">Descrição</option>
          <option value="liProd05">Grupo</option>
          <option value="liProd06">Subgrupo</option>
          <option value="liProd07">Tipo de Equipamento</option>
          <option value="liProd08">Data de Lançamento</option>
          <option value="liProd09">Usuário Lançamento</option>
          <option value="liProd10">Email Lançamento</option>
          <option value="liProd11">Data Edição</option>
          <option value="liProd12">Usuário Edição</option>
          <option value="liProd13">Email Edição</option>
          <option value="liProd14">Ações</option>
        </select>
      </div>
    </div>
  </div>

  <!--VIZULIZAÇÃO EM LISTA-->
  {{#each products}}

  <div class="card" style="background-color: transparent;">
    <div class="card-body">
      <!--TELA MD-->
      <div class="d-none d-md-block d-print-block">

        <div class="d-flex justify-content-center">
          <div class="liProd04 mr-auto p-0">
            <h3 class="liProd04">{{description}}</h3>
          </div>
          {{#if user.eDevAdmin}}
          <div class="liProd14 p-0 mr-1">
            <a href="/products/update/{{_id}}" class="mt-1 mb-1 btn btn-primary btn-sm" data-toggle="tooltip"
              data-placement="bottom" title="Editar Grupo">
              <i class="fas fa-pen"></i>
            </a>
          </div>

          <div class="liProd14 p-0">
            <a href="/products/delete/{{_id}}" class="mt-1 mb-1 deletar btn btn-danger btn-sm" data-toggle="tooltip"
              data-placement="bottom" title="Deletar Grupo">
              <i class="fas fa-trash-alt"></i>
            </a>
          </div>
          {{/if}}
        </div>
        <hr />

        <div class="row no-gutters position-relative">

          <div class="d-flex col-md-4 justify-content-center">
            <div class="liProd02 p-0">
              <img src="{{image}}" style="width: 6rem;" class="rounded " alt="..." />
            </div>
            <div class="liProd03 p-0">
              <img id="qrcode" name="qrcode" src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{_id}}"
                style="width: 10rem;" class="rounded mr-3" />
            </div>
          </div>


          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="liProd01 mt-0 mb-1"><small><b>Id: </b>{{_id}}</small></p>
            <p class="liProd05 mt-0 mb-1"><small><b>Grupo: </b>{{group.description}}</small></p>
            <p class="liProd06 mt-0 mb-1"><small><b>Subgrupo: </b>{{subgroup.description}}</small></p>
            <p class="liProd07 mt-0 mb-1"><small><b>Tipo de Equipamento: </b>{{type.description}}</small></p>
          </div>

          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="liProd08 mt-0 mb-1"><small><b>Data de Lançamento: </b>{{createdAt}}</small></p>
            <p class="liProd11 mt-0 mb-1"><small><b>Última Modificação:
                </b>{{updatedAt}}</small></p>
            <p class="liProd09 mt-0 mb-1"><small><b>Usuário Lançamento: </b>{{created.description}}</small></p>
            <p class="liProd10 mt-0 mb-1"><small><b>Email Lançamento: </b>{{emailCreated}}</small></p>
            <p class="liProd12 mt-0 mb-1"><small><b>Usuário Edição:
                </b>{{updated.description}}</small></p>
            <p class="liProd13 mt-0 mb-1"><small><b>Email Edição: </b>{{emailUpdated}}</small>
            </p>
          </div>
        </div>
      </div>

      <!--TELA MOBILE-->
      <div class="d-block d-md-none d-print-block">
        <div class="d-flex justify-content-center">
          <div class="mr-auto p-0">
            <h6 class="liProd04">{{description}}</h6>
          </div>
        </div>
        <hr />

        <div class="row no-gutters position-relative">

          <div class="d-flex col-md-4 justify-content-center">
            <div class="liProd02 mr-2 p-0">
              <img src="{{image}}" style="width: 6rem;" class="rounded " alt="..." />
            </div>
            <div class="liProd03 p-0">
              <img id="qrcode" name="qrcode" src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{_id}}"
                style="width: 6rem;" class="rounded mr-3" />
            </div>
          </div>


          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="liProd01 mt-0 mb-1"><small><b>Id: </b>{{_id}}</small></p>
            <p class="liProd05 mt-0 mb-1"><small><b>Grupo: </b>{{group.description}}</small></p>
            <p class="liProd06 mt-0 mb-1"><small><b>Subgrupo: </b>{{subgroup.description}}</small></p>
            <p class="liProd07 mt-0 mb-1"><small><b>Tipo de Equipamento: </b>{{type.description}}</small></p>
          </div>

          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="liProd08 mt-0 mb-1"><small><b>Data de Lançamento: </b>{{createdAt}}</small></p>
            <p class="liProd11 mt-0 mb-1"><small><b>Última Modificação:
                </b>{{updatedAt}}</small></p>
            <p class="liProd09 mt-0 mb-1"><small><b>Usuário Lançamento: </b>{{created.description}}</small></p>
            <p class="liProd10 mt-0 mb-1"><small><b>Email Lançamento: </b>{{emailCreated}}</small></p>
            <p class="liProd12 mt-0 mb-1"><small><b>Usuário Edição:
                </b>{{updated.description}}</small></p>
            <p class="liProd13 mt-0 mb-1"><small><b>Email Edição: </b>{{emailUpdated}}</small>
            </p>
          </div>
        </div>


        <div class="d-block d-md-none d-print-block">
          <div class="d-flex justify-content-center">
            <div class="liProd14 p-0 mr-1">
              <a href="/products/update/{{_id}}" class="mt-1 mb-1 btn btn-primary btn-sm" data-toggle="tooltip"
                data-placement="bottom" title="Editar Grupo">
                <i class="fas fa-pen"></i>
              </a>
            </div>

            <div class="liProd14 p-0">
              <a href="/products/delete/{{_id}}" class="mt-1 mb-1 deletar btn btn-danger btn-sm" data-toggle="tooltip"
                data-placement="bottom" title="Deletar Grupo">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  </form>

  <br />
  {{else}}
  <h4 class="mt-12 mb-2">
    Nenhum Produto Registrado!
  </h4>
  {{/each}}

  <div class="d-flex">
    <div class="mr-auto p-2">
      {{#if prev}}
      <button class="btn btn-primary btn-sm mt-2" onclick="navigate(-1)">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Anterior
      </button>
      {{/if}}
    </div>
    <div class="p-2">
      {{#if next}}
      <button class="btn btn-primary btn-sm mt-2" onclick="navigate(1)">
        Próximo
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
      {{/if}}
    </div>
  </div>
</div>