<div class="mt-2 container">
  {{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
  {{else}}
  {{/each}}
  <!--<canvas class="line-chart"></canvas>-->
  <div class="d-none d-md-none d-print-block">
    <div class="d-flex justify-content-center">

      <h3>Grupos</h3>
    </div>
  </div>
  <div class="d-none d-md-block d-print-none">
    <div class="d-flex justify-content-center">
      <div class="p-1 mr-auto">
        <h3>Grupos</h3>
      </div>

      <div class="p-0 mr-1">
        <a href="/groups">
          <button type="button" class="btn btn-primary btn-sm">
            Lista
            <i class="fas fa-th-list"></i>
          </button>
        </a>
      </div>
      <div class="p-0 mr-1">
        <a href="/groups/table">
          <button type="button" class="btn btn-primary btn-sm">
            Tabela
            <i class="fas fa-table"></i>
          </button>
        </a>
      </div>
      <div class="p-0">
        <a href="/groups/add">
          <button class="mr-2 btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Cadastre ">
            Cadastre um novo Grupo <i class="fas fa-paper-plane"></i>
          </button>
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="p-1 mr-auto">
        <div class="form-group row">
          <label for="client" class="col-sm-7 col-form-label col-form-label-sm">Itens p/ página</label>
          <div class="col-sm-5">
            <select class="custom-select custom-select-sm" id="limit" name="limit" onchange="setLimit()">
              <option value="5" {{#if_eq limit 5}}selected{{/if_eq}}>5</option>
              <option value="10" {{#if_eq limit 10}}selected{{/if_eq}}>10</option>
              <option value="25" {{#if_eq limit 25}}selected{{/if_eq}}>25</option>
              <option value="50" {{#if_eq limit 50}}selected{{/if_eq}}>50</option>
              <option value="100" {{#if_eq limit 100}}selected{{/if_eq}}>100</option>
            </select>
          </div>
        </div>
      </div>
      <div class="p-1 ">
        <p><small>Mais Detalhes</small></p>
      </div>
      <div class="p-1 ">

        <select class="custom-select custom-select-sm" name="SelectOptions" id="SelectOptions">
          <option selected>Escolher...</option>
          <option value="liTypes01">Id</option>
          <option value="liTypes02">imagem</option>
          <option value="liTypes03">QrCode</option>
          <option value="liTypes04">Descrição</option>
          <option value="liTypes05">Data de Lançamento</option>
          <option value="liTypes06">Usuário Lançamento</option>
          <option value="liTypes07">Email Lançamento</option>
          <option value="liTypes08">Data Edição</option>
          <option value="liTypes09">Usuário Edição</option>
          <option value="liTypes10">Email Edição</option>
          <option value="liTypes11">Ações</option>
        </select>
      </div>

      <div class="p-1">
        <div class="input-group input-group-sm mb-3">
          <input type="text-sm" class="form-control" id="search" name="search" placeholder="Pesquise aqui...">
        </div>
      </div>

      <div class="p-1">
        <button type="button" class="btn btn-primary btn-sm" onclick="search()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>

    </div>
  </div>



  <div class="d-block d-md-none d-print-none">
    <div class="d-flex justify-content-center">
      <h3>Grupos</h3>
      <hr>
    </div>

    <div class="d-flex justify-content-center">
      <a href="/types/add">
        <button class="mr-2 btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom"
          title="Cadastre um novo produto">
          Cadastre um novo Grupo <i class="fas fa-paper-plane"></i>
        </button>
      </a>
    </div>


    <div class="d-flex justify-content-center">
      <div class="p-1">
        <div class="input-group input-group-sm mb-3">
          <input type="text-sm" class="search form-control" id="searchMobile" name="searchMobile"
            placeholder="Pesquise aqui..." onchange="this.value=this.value.toLowerCase()" />
        </div>
      </div>

      <div class="p-1 ">
        <button type="button" class="btn btn-primary btn-sm" onclick="search()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>


    <div class="d-flex justify-content-center">
      <div class="p-1">
        <label for="client" class="col-sm-7 col-form-label col-form-label-sm">Itens p/ página</label>
        <div class="col-sm-5">
          <select class="custom-select custom-select-sm" id="limitMobile" name="limitMobile" onchange="setLimit()">
            <option value="5" {{#if_eq limit 5}}selected{{/if_eq}}>5</option>
            <option value="10" {{#if_eq limit 10}}selected{{/if_eq}}>10</option>
            <option value="25" {{#if_eq limit 25}}selected{{/if_eq}}>25</option>
            <option value="50" {{#if_eq limit 50}}selected{{/if_eq}}>50</option>
            <option value="100" {{#if_eq limit 100}}selected{{/if_eq}}>100</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="p-1 ">
        <select class="custom-select custom-select-sm" name="SelectOptionsMobile" id="SelectOptionsMobile">
          <option selected>Mais Detalhes</option>
          <option value="liTypes01">Id</option>
          <option value="liTypes02">imagem</option>
          <option value="liTypes03">QrCode</option>
          <option value="liTypes04">Descrição</option>
          <option value="liTypes05">Data de Lançamento</option>
          <option value="liTypes06">Usuário Lançamento</option>
          <option value="liTypes07">Email Lançamento</option>
          <option value="liTypes08">Data Edição</option>
          <option value="liTypes09">Usuário Edição</option>
          <option value="liTypes10">Email Edição</option>
          <option value="liTypes11">Ações</option>
        </select>
      </div>
    </div>
  </div>

  <!--VIZULIZAÇÃO EM LISTA-->
  {{#each groups}}

  <!--INFORMAÇÃOES PARA ADICIONAR NA REQUISIÇÃO-->
  <!--<form id="form_dev" method="POST">
    <input type="hidden" class="mt-2 form-control"  name="id" value="{{_id}}">
    <input type="hidden" class="mt-2 form-control"  name="qrcode" value="{{qrcode}}">
    <input type="hidden" class="mt-2 form-control"  name="image" value="{{image}}">
    <input type="hidden" class="mt-2 form-control"  name="description" value="{{description}}">
    <!--CONTROLE DE USUÁRIOS LANÇAMENTO DO MATERIAL-->
  <!--<input type="hidden" class="mt-2 form-control"  name="releaseDateOf"
      value="{{#formatDate date}}{{/formatDate}}">
    <input type="hidden" class="mt-2 form-control"  name="userLaunch" value="{{user._id}}">
    <input type="hidden" class="mt-2 form-control"  name="emailLaunch" value="{{emailLaunch}}">
    <!--CONTROLE DE USUÁRIOS ÚLTIMO LANÇAMENTO DO MATERIAL-->
  <!--<input type="hidden" class="mt-2 form-control"  name="editionDate"
      value="{{#formatDate date}}{{/formatDate}}">
    <input type="hidden" class="mt-2 form-control"  name="userEdtion" value="{{user._id}}">
    <input type="hidden" class="mt-2 form-control"  name="emailEdtion" value="{{emailEdtion}}">-->



  <div class="card" style="background-color: transparent;">
    <div class="card-body">
      <!--TELA MD-->
      <div class="d-none d-md-block d-print-block">

        <div class="d-flex justify-content-center">
          <div class="liTypes04 mr-auto p-0">
            <h3 class="liTypes04">{{description}}</h3>
          </div>
          {{#if ../ user.eDevAdmin}}
          <div class="liTypes11 p-0 mr-1">
            <button id="updateDev" type="submit" class="mt-1 mb-1 btn btn-secondary btn-sm" data-toggle="tooltip"
              data-placement="right" title="Inserir produto na solicitação atual">
              <i class="fas fa-cart-arrow-down"></i></button>
          </div>

          <div class="liTypes11 p-0 mr-1">
            <button id="saveDev" type="submit" class="mt-1 mb-1 btn btn-success btn-sm" data-toggle="tooltip"
              data-placement="bottom" title="Dar entrada no Material">
              <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>

          <div class="liTypes11 p-0 mr-1">
            <a href="/groups/add_id/{{_id}}" class="mt-1 mb-1 btn btn-primary btn-sm" data-toggle="tooltip"
              data-placement="left" title="Criar novo a partir dessas informações">
              <i class="far fa-clone"></i>
            </a>
          </div>

          <div class="liTypes11 p-0 mr-1">
            <a href="/groups/edit/{{_id}}" class="mt-1 mb-1 btn btn-dark btn-sm" data-toggle="tooltip"
              data-placement="bottom" title="Editar Produto">
              <i class="fas fa-pen"></i>
            </a>
          </div>

          <div class="liTypes11 p-0">
            <a href="/groups/delete/{{_id}}" class="mt-1 mb-1 deletar btn btn-danger btn-sm" data-toggle="tooltip"
              data-placement="bottom" title="Deletar Produto">
              <i class="fas fa-trash-alt"></i>
            </a>
          </div>
          {{else}}
          <div class="liTypes11 p-0 mr-1">
            <a href="/groups/edit/{{_id}}" class="mt-1 mb-1 btn btn-primary btn-sm" data-toggle="tooltip"
              data-placement="bottom" title="Editar Produto">
              <i class="fas fa-pen"></i>
            </a>
          </div>

          <div class="liTypes11 p-0">
            <a href="/groups/delete/{{_id}}" class="mt-1 mb-1 deletar btn btn-danger btn-sm" data-toggle="tooltip"
              data-placement="bottom" title="Deletar Produto">
              <i class="fas fa-trash-alt"></i>
            </a>
          </div>
          {{/if}}
        </div>
        <hr />

        <div class="row no-gutters position-relative">

          <div class="d-flex col-md-4 justify-content-center">
            <div class="liTypes02 p-0">
              <img src="{{image}}" style="width: 10rem;" class="rounded " alt="..." />
            </div>
            <div class="liTypes03 p-0" style="display: none;">
              <img id="qrcode" name="qrcode" src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{qrcode}}"
                style="width: 10rem;" class="rounded mr-3" />
            </div>
          </div>


          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="liTypes01 mt-0 mb-1"><small><b>Id: </b>{{_id}}</small></p>
            <p class="liTypes05 mt-0 mb-1"><small><b>Data de Lançamento: </b>{{releaseDateOf}}</small></p>
            <p class="liTypes08 mt-0 mb-1" style="display: none;"><small><b>Última Modificação:
                </b>{{editionDate}}</small></p>
          </div>

          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="liTypes06 mt-0 mb-1"><small><b>Usuário Lançamento: </b>{{user.name}}</small></p>
            <p class="liTypes07 mt-0 mb-1"><small><b>Email Lançamento: </b>{{emailLaunch}}</small></p>
            <p class="liTypes09 mt-0 mb-1" style="display: none;"><small><b>Usuário Edição:
                </b>{{user.name}}</small></p>
            <p class="liTypes10 mt-0 mb-1" style="display: none;"><small><b>Email Edição: </b>{{emailEdtion}}</small>
            </p>
          </div>
        </div>
      </div>

      <!--TELA MOBILE-->
      <div class="d-block d-md-none d-print-block">
        <div class="d-flex justify-content-center">
          <div class="mr-auto p-0">
            <h6 class="liTypes04">{{description}}</h6>
          </div>
        </div>

        <hr />

        <div class="row no-gutters position-relative">

          <div class="d-flex col-md-4 justify-content-center">
            <div class="liTypes02 mr-2 p-0">
              <img src="{{image}}" style="width: 6rem;" class="rounded " alt="..." />
            </div>
            <div class="liTypes03 p-0">
              <img id="qrcode" name="qrcode" src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{qrcode}}"
                style="width: 6rem;" class="rounded mr-3" />
            </div>
          </div>


          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="liTypes01 mt-0 mb-1"><small><b>Id: </b>{{_id}}</small></p>
            <p class="liTypes05 mt-0 mb-1"><small><b>Data de Lançamento: </b>{{releaseDateOf}}</small></p>
            <p class="liTypes08 mt-0 mb-1" style="display: none;"><small><b>Última Modificação:
                </b>{{editionDate}}</small></p>
          </div>

          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="liTypes06 mt-0 mb-1"><small><b>Usuário Lançamento: </b>{{user.name}}</small></p>
            <p class="liTypes07 mt-0 mb-1"><small><b>Email Lançamento: </b>{{emailLaunch}}</small></p>
            <p class="liTypes09 mt-0 mb-1" style="display: none;"><small><b>Usuário Edição:
                </b>{{user.name}}</small></p>
            <p class="liTypes10 mt-0 mb-1" style="display: none;"><small><b>Email Edição: </b>{{emailEdtion}}</small>
            </p>
          </div>
        </div>


        <div class="d-block d-md-none d-print-block">
          <div class="d-flex justify-content-center">
            {{#if ../ user.eDevAdmin}}
            <div class="liTypes11 p-0 mr-1">
              <button id="updateDev" type="submit" class="mt-1 mb-1 btn btn-secondary btn-sm" data-toggle="tooltip"
                data-placement="right" title="Inserir produto na solicitação atual">
                <i class="fas fa-cart-arrow-down"></i></button>
            </div>

            <div class="liTypes11 p-0 mr-1">
              <button id="saveDev" type="submit" class="mt-1 mb-1 btn btn-success btn-sm" data-toggle="tooltip"
                data-placement="bottom" title="Dar entrada no Material">
                <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>

            <div class="liTypes11 p-0 mr-1">
              <a href="/groups/add_id/{{_id}}" class="mt-1 mb-1 btn btn-dark btn-sm" data-toggle="tooltip"
                data-placement="left" title="Criar novo a partir dessas informações">
                <i class="far fa-clone"></i>
              </a>
            </div>

            <div class="liTypes11 p-0 mr-1">
              <a href="/groups/edit/{{_id}}" class="mt-1 mb-1 btn btn-primary btn-sm" data-toggle="tooltip"
                data-placement="bottom" title="Editar Produto">
                <i class="fas fa-pen"></i>
              </a>
            </div>

            <div class="liTypes11 p-0">
              <a href="/groups/delete/{{_id}}" class="mt-1 mb-1 deletar btn btn-danger btn-sm" data-toggle="tooltip"
                data-placement="bottom" title="Deletar Produto">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
            {{else}}
            <div class="liTypes11 p-0 mr-1">
              <a href="/groups/edit/{{_id}}" class="mt-1 mb-1 btn btn-primary btn-sm" data-toggle="tooltip"
                data-placement="bottom" title="Editar Produto">
                <i class="fas fa-pen"></i>
              </a>
            </div>

            <div class="liTypes11 p-0">
              <a href="/groups/delete/{{_id}}" class="mt-1 mb-1 deletar btn btn-danger btn-sm" data-toggle="tooltip"
                data-placement="bottom" title="Deletar Produto">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  </div>

  </form>

  <br />
  {{else}}
  <h4 class="mt-12 mb-2">
    Nenhuma Grupo Registrada!
  </h4>
  {{/each}}

  <div class="d-flex">
    <div class="mr-auto p-2">
      {{#if prev}}
      <button class="btn btn-primary btn-sm mt-2" onclick="navigate(-1)">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Anterior
      </button>
      {{/if}}
    </div>
    <div class="p-2">
      {{#if next}}
      <button class="btn btn-primary btn-sm mt-2" onclick="navigate(1)">
        Próximo
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
      {{/if}}
    </div>
  </div>
</div>