<div class="jumbotron ">
  <div class="index container">
    <h1 class="display-4">Bem vindo, ao Warehouseapp!</h1>
    <p class="lead">Aqui estão listados todos equipamentos, ferramentas, cosumíveis, epi's e demais insumos para nossos
      Sites.</p>
    <hr class="my-4">
    <p>Após logado, vodê pode pesquisar, solicitare obter informações sobre nosso estoque em tempo real.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Saiba Mais</a>
  </div>
</div>
<div class="container mt-2">
  <hr>
  <h2>Grupos</h2>

  <hr>
  <a href="/groups/groups"><button type="button" class="btn btn-primary">Lista <i
        class="fas fa-th-list"></i></button></a>
  <a href="/groups/groupstables"><button type="button" class="btn btn-primary">Tabela <i
        class="fas fa-table"></i></button></a>

  <hr>

  <!--VIZULIZAÇÃO EM LISTA-->
  <div id="card" class="card-deck mt-2" style='display: block;'>
    {{#each groups}}
    <div class="card-deck mt-3">
      <img src="{{image}}" class="card-img-top" style="max-width: 18rem;" alt="...">
      <div id="card2" class="card-body">
        <h4>{{description}}</h4>
        <div class="form-admin col-md-6" id="qrcode2" onchange="qrcodeFormat()"></div>
        <p class="card-text"><small class="text-muted">Código QrCode: {{qrcode}}</small></p>
        <p class="card-text">Data de Criação: {{date}}</p>
        <a href="/groups/groups/take/{{_id}}" class="btn btn-dark mt-2"><i class="fas fa-align-right"></i></a>
        <a href="/groups/groups/edit/{{_id}}"><button class="btn btn-primary mt-2"><i
              class="fas fa-pen"></i></button></a>
        <a href="/groups/groups/deletar/{{_id}}"><button class="deletar btn btn-danger mt-2"><i
              class="fas fa-trash-alt"></i></button></a>
      </div>
    </div>
    <hr>
    {{else}}
    <h4 class="mt-2 mb-2">Nenhum Grupo Registrado!</h4>
    {{/each}}
    <nav class="px-md-2 mt-2" aria-label="Navegação de página exemplo">
      <ul class="pagination">
        {{#if prev}}
        <li class="page-item"><a class="page-link" href="{{prev}}">Anterior</a></li>
        {{/if}}
        {{#paginate}}
        <li class="page-item"><a class="page-link" href="{{link}}">{{number}}</a></li>
        {{/paginate}}
        <li class="page-item"><a class="page-link" href="{{next}}">Próximo</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="mt-2"></div>