<div class="takegroups container mt-2">
  <!--VIZULIZAÇÃO EM LISTA-->
  <h4>{{group.description}}</h4>
  <hr>
  <div class="card-deck mt-3">
    <img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl={{group.qrcode}}" width="200px"
      class="img-fluid rounded" alt="Responsive image">
    <div class="form-group col-md-3">
      <img src="{{group.image}}" width="200px" class=" img-fluid rounded" alt="Responsive image">
    </div>
    <div id="card2" class="card-body">
      <!--<form action="/groups/groups/take/" method="POST">-->
      <form action="/groups/groups/new" method="POST">
        <input type="hidden" class="form-control mt-2" id="id" name="id" placeholder="Id" value="{{group._id}}">
        <input type="hidden" class="form-control mt-2" id="qrcode" name="qrcode" placeholder="QrCode do group"
          value="{{group.qrcode}}">
        <input type="hidden" class="form-control mt-2" name="image" id="image" value="{{group.image}}">
        <input type="hidden" class="form-control mt-2" id="description" name="description"
          placeholder="Descrição do group" value="{{group.description}}" onkeyup="qrcodeFormat()">
        <input type="hidden" class="form-control mt-2" id="date" name="date" placeholder="date"
          value="{{#formatDate date}}{{/formatDate}}">
        <input type="hidden" class="car form-control mt-2" value="{{group.qrcode}}">
        <div class="form-row">
          <div class="form-group col-md-12">
            <br>
            <br>
            <h6 class="card-text">Código QrCode: {{group.qrcode}}</h6>
            <h6 class="card-text"><small>Data de Criação: {{group.date}}</small></h6>
            <h6 class="card-text"><small>Active: {{group.active}}</small></h6>
          </div>
        </div>
    </div>
  </div>
  <hr>
  </form>
</div>