<div class="container mt-2">
  <h2>Status</h2>
  <a href="/status/status/add"><button class="btn btn-success">Cadastre um Status <i
        class="fas fa-share"></i></button></a>

  <hr>
  <a href="/status/status/"><button type="button" class="btn btn-primary">Lista <i
        class="fas fa-th-list"></i></button></a>
  <a href="/status/statustables/"><button type="button" class="btn btn-primary">Tabela <i
        class="fas fa-table"></i></button></a>

  <hr>

  <!--VIZULIZAÇÃO EM LISTA-->
  <div id="card" class="card-deck mt-2" style='display: block;'>
    {{#each status}}
    <div class="card-deck mt-3">
      <img src="{{image}}" class=" img-fluid rounded" alt="Responsive image" style="width: 18rem;">
      <div id="card2" class="card-body">
        <h4>{{description}}</h4>
        <div class="form-admin col-md-6" id="qrcode2" onchange="qrcodeFormat()"></div>
        <h6 class="card-text"><small>Código QrCode: {{qrcode}}</small></h6>
        <h6 class="card-text">Data de Criação: {{date}}</h6>
        <a href="/status/status/take/{{_id}}" class="btn btn-dark mt-2"><i class="fas fa-align-right"></i></a>
        <a href="/status/status/edit/{{_id}}"><button class="btn btn-primary mt-2"><i
              class="fas fa-pen"></i></button></a>
        <a href="/status/status/deletar/{{_id}}"><button class="deletar btn btn-danger mt-2"><i
              class="fas fa-trash-alt"></i></button></a>
      </div>
    </div>
    <hr>
    {{else}}
    <h4 class="mt-2 mb-2">Nenhuma Status Registrado!</h4>
    {{/each}}
    <nav class="px-md-2 mt-2" aria-label="Navegação de página exemplo">
      <ul class="pagination">
        {{#if prev}}
        <li class="page-item"><a class="page-link" href="{{prev}}">Anterior</a></li>
        {{/if}}
        {{#paginate}}
        <li class="page-item"><a class="page-link" href="{{link}}">{{number}}</a></li>
        {{/paginate}}
        <li class="page-item"><a class="page-link" href="{{next}}">Próximo</a></li>
      </ul>
    </nav>
  </div>
</div>