<div class="container mt-2">
    <h3>Novo Produto:</h3>
    <hr>
    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}

    {{/each}}


    <form class="upload mt-2" method='post' enctype="multipart/form-data" action="/upload" style="display:none;">
        <div class="form-row">
            <div class="col-md-3 text-center">
                <img src="/img/logo8.png" class="avatar img-fluid rounded" alt="Responsive image" style="width: 8rem;">
            </div>
            <input type="file" accept="image/*" name="file" id="file"
                class="btn-file text-center center-block file-upload">
            <div class="col-3 mt-5 text-center">
                <input type='submit' class='btn btn-primary' value='Salvar Imagem'>
            </div>
        </div>

    </form>





    <form action="/products/products/new" class="mt-2" method="POST">

        <input type="hidden" class="form-control mt-2" name="image" id="image">

        <div class="form-row">

            <div class="col-md-6">
                <label for="group">Grupo:</label>
                <select class="custom-select" id="group" name="group"
                    onchange="location.assign('?gId='+document.getElementById('group').value)">
                    <option selected disabled value="">Selecione...</option>
                    {{#each groups}}
                    <option {{#if_eq ../idGroup _id}}selected{{/if_eq}} value="{{_id}}"> {{description}}</option>
                    {{else}}
                    <option value="0">Nenhum grupo registrado</option>
                    {{/each}}
                </select>
            </div>

            <div class="col-md-6">
                <label for="subgroup">Subgrupo:</label>
                <select class="custom-select" id="subgroup" name="subgroup" onchange="viewFile()">
                    <option selected disabled value="">Selecione...</option>
                    {{#each subgroups}}
                    <option value="{{_id}}">{{description}}</option>
                    {{else}}
                    <option value="0">Nenhum Subgroup registrado</option>
                    {{/each}}
                </select>
            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="client">Site:</label>
                <select class="custom-select" id="client" name="client">
                    <option selected disabled value="">Selecione...</option>
                    {{#each customers}}
                    <option value="{{_id}}">{{description}}</option>
                    {{else}}
                    <option value="0">Nenhum site registrado</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="local">Locação:</label>
                <select class="custom-select" id="local" name="local">
                    <option selected disabled value="">Selecione...</option>
                    {{#each leases}}
                    <option value="{{_id}}">{{description}}</option>
                    {{else}}
                    <option value="0">Nenhuma locação registrada</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="sublease">Sublocação:</label>
                <select class="custom-select" id="sublease" name="sublease">
                    <option selected disabled value="">Selecione...</option>
                    {{#each subleases}}
                    <option value="{{_id}}">{{description}}</option>
                    {{else}}
                    <option value="0">Nenhuma sublocação registrada</option>
                    {{/each}}
                </select>
            </div>

        </div>

        <input type="hidden" class="form-control mt-2" name="fullDescription" id="fullDescription"
            placeholder="Descrição completa do Produto">

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="patrimonialAsset">Bem Patrimonial:</label>
                <input type="text" class="form-control" id="patrimonialAsset" name="patrimonialAsset"
                    placeholder="Bem Patrimonial">
            </div>

            <div class="form-group col-md-9">
                <label for="description">Descrição:</label>
                <input type="text" class="form-control" id="description" name="description"
                    placeholder="Descrição do Produto">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="manufacturer">Fabricante:</label>
                <input type="text" class="form-control" id="manufacturer" name="manufacturer"
                    placeholder="Fabricante do Produto">
            </div>

            <div class="form-group col-md-3">
                <label for="model">Modelo:</label>
                <input type="text" class="form-control" id="model" name="model" placeholder="Modelo do Produto">
            </div>

            <div class="form-group col-md-4">
                <label for="capacityReach">Capacidade / Alcance:</label>
                <input type="text" class="form-control" id="capacityReach" name="capacityReach"
                    placeholder="Capacidade / Alcance do Produto">
            </div>

            <div class="form-group col-md-2">
                <label for="serialNumber">N° de Série:</label>
                <input type="text" class="form-control" id="serialNumber" name="serialNumber"
                    placeholder="N° de série do Produto">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="physicalStatus">Status:</label>
                <select class="custom-select" id="physicalStatus" name="physicalStatus">
                    <option selected disabled value="">Selecione...</option>
                    {{#each status}}
                    <option value="{{_id}}">{{description}}</option>
                    {{else}}
                    <option value="0">Nenhum status registrado</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="kindOfEquipment">Tipo de Equipamento:</label>
                <select class="custom-select" id="kindOfEquipment" name="kindOfEquipment">
                    <option selected disabled value="">Selecione...</option>
                    {{#each types}}
                    <option value="{{_id}}">{{description}}</option>
                    {{else}}
                    <option value="0">Nenhum tipo de equipamento registrado</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="requiresCertificationCalibration"> Requer Calibração/Certificação:</label>
                <select class="custom-select" id="requiresCertificationCalibration"
                    name="requiresCertificationCalibration" onchange="viewCertificate()">
                    <option selected disabled value="">Selecione...</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-2" style="display: block;">
                <label for="inputAmount">Quantidade:</label>
                <input type="text" class="form-control" id="inputAmount" name="inputAmount"
                    placeholder="Quantidade do Produto">
            </div>

            <div class="form-group col-md-2" style="display: none;">
                <label for="outputQuantity">Quantidade:</label>
                <input type="text" class="form-control" id="outputQuantity" name="outputQuantity"
                    placeholder="Quantidade do Produto">
            </div>

            <div class="form-group col-md-3">
                <label for="unity">Unidade:</label>
                <select class="custom-select" id="unity" name="unity">
                    <option selected disabled value="">Selecione...</option>
                    {{#each units}}
                    <option value="{{_id}}">{{description}}</option>
                    {{else}}
                    <option value="0">Nenhuma unidade de equipamento registrada</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="weightKg">Peso Kg:</label>
                <input type="text" class="form-control" id="weightKg" name="weightKg" placeholder="Peso do Produto">
            </div>

            <div class="form-group col-md-2">
                <label for="faceValue">Valor de Face:</label>
                <input type="text" class="form-control" id="faceValue" name="faceValue" placeholder="Valor do Produto"
                    onkeyup="formatarMoeda()">
            </div>

            <div class="form-group col-md-3">
                <label for="dimensionsWxLxH">Dimensões LxCxA mm:</label>
                <input type="text" class="form-control" id="dimensionsWxLxH" name="dimensionsWxLxH"
                    placeholder="Dimensões do Produto">
            </div>

        </div>

        <div class="certificate form-row" style="display:none;">

            <div class="form-group col-md-2">
                <label for="certificate">Certificado:</label>
                <input type="text" class="form-control" id="certificate" name="certificate"
                    placeholder="Certificado do Produto">
            </div>

            <div class="form-group col-md-2">
                <label for="entityLaboratory">Laboratório/ Entidade:</label>
                <input type="text" class="form-control" id="entityLaboratory" name="entityLaboratory"
                    placeholder="Laboratório/ Entidade">
            </div>

            <div class="form-group col-md-2">
                <label for="frequency">Periodicidade:</label>
                <select class="custom-select" id="frequency" name="frequency">
                    <option selected disabled value="">Selecione...</option>
                    {{#each breaks}}
                    <option value="{{_id}}">{{description}}</option>
                    {{else}}
                    <option value="0">Nenhum intervalo registrado</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="calibrationDate">Data Calibração:</label>
                <input oninput="mascara(this, 'data')" type="text" class="form-control" id="calibrationDate" name="calibrationDate"
                    placeholder="Data Calibração">
            </div>

            <div class="form-group col-md-2">
                <label for="calibrationValidity">Validade Calibração:</label>
                <input oninput="mascara(this, 'data')" type="text" class="form-control" id="calibrationValidity" name="calibrationValidity"
                    placeholder="Validade Calibração">
            </div>

            <div class="form-group col-md-2">
                <label for="calibrationStatus">Status Calibração:</label>
                <input type="text" class="form-control" id="calibrationStatus" name="calibrationStatus"
                    placeholder="Status Calibração">
            </div>

        </div>

        <input type="hidden" class="form-control" id="date" name="date" placeholder="date"
            value="{{#formatDate date}}{{/formatDate}}">

        <div class="form-group col-md-8">
            <div class="form-row">
                <button type="submit" class="btn btn-success"><i class="fas fa-share"></i></button>
            </div>
        </div>
        <hr>

    </form>

</div>