{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<form method="POST" action="/products/transfer" class="container-fluid mt-2">
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h3>Itens Requisitados</h3>
        </div>
        <div class="d-none d-md-block">
            <div class="p-2">
                <a href="/products/receivement">
                    <button type="button" class="btn btn-secondary">
                        <small><strong>Voltar para Produtos</strong></small>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="row no-gutters position-relative">
        <div class="col-md-12 position-static p-0 pl-md-0 text-center">
            <div class="mt-2 form-group row">
                <label for="client" class="col-5 col-md-2 mt-1 col-form-label">Site
                    Solicitante:</label>
                <div class="col-7 col-md-3">
                    <select class="destinoMaterial custom-select" name="clientId" required>
                        <option selected disabled value="">Selecione...</option>
                        {{#each customers}}
                        <option value="{{_id}}">{{description}}</option>
                        {{else}}
                        <option value="0">Nenhum site registrado</option>
                        {{/each}}
                    </select>
                </div>

                <label for="stockQuantity" class="col-6 col-md-2 mt-1
                    col-form-label">Data Necessidade:</label>
                <div class="col-6 col-md-3 mt-1">
                    <input type="date" class="dateMaterial form-control" name="deliveryDate" required>
                </div>

                <div class="col-12 col-md-2 mt-1">
                    <button type="submit" class="btn btn-primary btn-block">Finalizar
                        Pedido</button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="mt-2 table table-hover table-sm table-bordered">
            <thead>
                <tr>
                    <th class="tb01" scope="col">Id</th>
                    <th class="tb02" scope="col">Imagem</th>
                    <th class="tb" scope="col">Bp/Descrição/Fab./Mod./Cap./Ns</th>
                    <th class="tb" scope="col">Status</th>
                    <th class="tb" scope="col">Tipo de Equipamento</th>
                    <th class="tb" scope="col">Site Origem</th>
                    <th class="tb" scope="col">Qtd. Disponível</th>
                    <th class="tb" scope="col">Qtd. Solicitada</th>
                    <th class="tb" scope="col">Ações</th>
                </tr>
            </thead>
            {{#each products}}
            <tbody>

                <tr>
                    <input type="hidden" class="mt-2 form-control" id="id" name="productsId[]" value="{{_id}}">
                    <th class="tb01">{{_id}}</th>
                    <td class="tb03">
                        <figure class="figure">
                            <img src="{{image}}" class="figure-img img-fluid
                                rounded" style="max-width: 4rem;" alt="Imagem de um quadrado genérico com bordas
                                arredondadas, em uma figure.">
                            <!--<figcaption class="figure-caption">Uma legenda para a imagem acima.</figcaption>-->
                        </figure>
                    </td>
                    <td class="tb">{{fullDescription}}</td>
                    <td class="tb">{{physicalStatus.description}}</td>
                    <td class="tb">{{kindOfEquipment.description}}</td>
                    <td class="tb">{{client.description}}</td>
                    <td class="tb">{{inputAmount}}</td>
                    <td class="tb">
                        <input type="number" value={{outputQuantity}} min="1" max="{{inputAmount}}"
                            class="form-control form-control-sm" name="productsQuantity[]" required>
                    </td>
                    <td>
                        <a href="/products/take/{{_id}}" class="mt-1 mb-1 btn
                            btn-dark btn-sm" data-toggle="tooltip" data-placement="bottom" title="Visualizar detalhes">
                            <i class="fas fa-align-left"></i>
                        </a>

                        <a href="/products/move/{{_id}}" class="mt-1 mb-1 btn
                            btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom"
                            title="Movimentação interna">
                            <i class="fas fa-file-signature"></i>
                        </a>

                        <a href="/products/add_id/{{_id}}" class="mt-1 mb-1 btn
                            btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Criar novo produto a partir dessas
                            informações">
                            <i class="far fa-clone"></i>
                        </a>

                        <a href="/products/edit/{{_id}}" class="mt-1 mb-1 btn
                            btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Ediar Produto">
                            <i class="fas fa-pen"></i>
                        </a>

                        <a href="/products/delete/{{_id}}" class="mt-1 mb-1
                            deletar btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom"
                            title="Deletar Produto">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {{else}}
                <h4 class="mt-12 mb-2">
                    Nenhum Produto Requisitado!
                </h4>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>