<div class="container mt-2">
    <h3>Novo Produto:</h3>
    <hr>
    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}


    <form class="upload mt-2" method='post' enctype="multipart/form-data" action="/upload" style="display:none;">
        <div class="row no-gutters position-relative">
            <div class="col-12 col-md-2 mb-md-0 p-md-0 text-center">
                <img src="/img/logo8.png" class="avatar img-fluid rounded" alt="" style="width: 10rem;">
                <input type='submit' class='mt-1 btn btn-primary btn-sm' value='Salvar Imagem'>
                <input type="file" accept="image/*" name="file" id="file"
                    class="btn-file text-center center-block file-upload">
            </div>
        </div>
    </form>


{{#each products}} 
    <form action="/products/addr" class="mt-2" method="POST">
<div class="form-row">
        <input type="hidden" class="form-control mt-2" name="image" id="image">

            <div class="form-group col-md-6">
                <label for="description">Descrição:</label>
                <input type="text" class="form-control" id="description" name="description"
                    placeholder="Descrição do Produto" value="{{description}}">
            </div>

            <div class="form-group col-md-6">
                <label for="manufacturer">Fabricante:</label>
                <input type="text" class="form-control" id="manufacturer" name="manufacturer"
                    placeholder="Fabricante do Produto" value="{{manufacturer}}">
            </div>
            </div>

<div class="form-row">
            <div class="form-group col-md-6">
                <label for="model">Modelo:</label>
                <input type="text" class="form-control" id="model" name="model" placeholder="Modelo do Produto" value="{{model}}">
            </div>

            <div class="form-group col-md-6">
                <label for="capacityReach">Capacidade / Alcance:</label>
                <input type="text" class="form-control" id="capacityReach" name="capacityReach"
                    placeholder="Capacidade / Alcance do Produto" value="{{capacityReach}}">
            </div>
</div>
        <div class="form-row">
        <div class="form-group col-md-12">
  <button type="submit" class="btn btn-success">Salvar <i class="fas fa-share"></i></button>   
            <a href="/products/add_id/{{_id}}" class="btn btn-success btn-sm" data-toggle="tooltip"
            data-placement="bottom" title="Criar novo produto a partir dessas informações">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </a>

          <a href="/products/edit/{{_id}}" class="btn btn-secondary btn-sm" data-toggle="tooltip"
            data-placement="bottom" title="Ediar Produto">
            <i class="fas fa-pen"></i>
          </a>

          <a href="/products/delete/{{_id}}" class="deletar btn btn-danger btn-sm" data-toggle="tooltip"
            data-placement="bottom" title="Deletar Produto">
            <i class="fas fa-trash-alt"></i>
          </a>          
            </div>
        </div>
        
        <hr>


    </form>

    {{else}}
{{/each}}
 
</div>


