<div class="container">
  <script>
    function navigate(offset) {
      var searchParams = new URLSearchParams(location.search);
      const page = Number(searchParams.get("page")) || 1;
      searchParams.set("page", page + offset);
      location.search = searchParams.toString();
    }

    function search() {
      var searchParams = new URLSearchParams(location.search);
      const search = document.getElementById('search').value;
      searchParams.set("search", search);
      location.search = searchParams.toString();
    }
  </script>
  <h2>
    Produtos
  </h2>
  <hr />
  <div class="d-flex">
    <div class="mr-auto p-2">
      <a href="/products/products/add">
        <button class="btn btn-success">
          Novo
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </a>
    </div>

    <div class="p-2">
      <a href="/products/products">
        <button type="button" class="btn btn-primary">
          Lista
          <i class="fas fa-th-list"></i>
        </button>
      </a>

      <a href="/products/productstables">
        <button type="button" class="btn btn-primary">
          Tabela
          <i class="fas fa-table"></i>
        </button>
      </a>
    </div>
  </div>

  <div class="d-flex">
    <div class="p-2">
      <input
        type="text"
        class="form-control"
        id="search"
        name="search"
        placeholder="Pesquise aqui..."
        onchange="this.value=this.value.toLowerCase()"
      />
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-primary" onclick="search()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <!--VIZULIZAÇÃO EM LISTA-->
  {{#each products}}
    <div class="card" style="background-color: transparent;">
      <div class="card-body">
        <h6>
          {{fullDescription}}
        </h6>
        <hr />
        <div class="row no-gutters position-relative">
          <div class="col-6 col-md-2 mb-md-0 p-md-0 text-center">
            <img
              src="{{image}}"
              style="width: 8rem;"
              class="rounded mr-3"
              alt="..."
            />
          </div>
          <div class="col-6 col-md-2 mb-md-0 p-md-0 text-center">
            <img
              id="qrcode"
              name="qrcode"
              src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{
                qrcode
              }}"
              style="width: 8rem;"
              class="rounded mr-3"
            />
          </div>

          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Grupo:
                </b>
                {{group.description}}
              </small>
            </p>
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Subgrupo:
                </b>
                {{subgroup.description}}
              </small>
            </p>
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Localização:
                </b>
                {{client.description}}
              </small>
            </p>
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Status Físico:
                </b>
                {{physicalStatus.description}}
              </small>
            </p>
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Tipo de Equipamento:
                </b>
                {{kindOfEquipment.description}}
              </small>
            </p>
          </div>

          <div class="col-md-4 position-static p-0 pl-md-0 text-center">
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Calibração/Certificação:
                </b>
                {{calibrationStatus}}
              </small>
            </p>
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Quantidade Entrada:
                </b>
                {{inputAmount}}
              </small>
            </p>
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Quantidade Estoque:
                </b>
                {{quant}}
              </small>
            </p>
            <p class="mt-0 mb-1">
              <small>
                <b>
                  Ultima Movimentação:
                </b>
                {{editionDate}}
              </small>
            </p>

            <a
              href="/products/products/take/{{_id}}"
              class="mt-0 mb-1 btn btn-secondary btn-sm"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Visualizar detalhes"
            >
              <small>
                Movimentação Interna
              </small>
            </a>

            <a
              href="/products/products/take/{{_id}}"
              class="mt-0 mb-1 btn btn-primary btn-sm"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Visualizar detalhes"
            >
              <small>
                Envio - Solicitação
              </small>
            </a>

            <div class="d-block">
              <a
                href="/products/products/add_id/{{_id}}"
                class="btn btn-dark btn-sm"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Criar novo produto a partir dessas informações"
              >
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </a>

              <a
                href="/products/products/edit/{{_id}}"
                class="btn btn-secondary btn-sm"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Ediar Produto"
              >
                <i class="fas fa-pen"></i>
              </a>

              <a
                href="/products/products/delete/{{_id}}"
                class="deletar btn btn-danger btn-sm"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Deletar Produto"
              >
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  {{else}}
    <h4 class="mt-12 mb-2">
      Nenhum Produto Registrado!
    </h4>
  {{/each}}

  <div class="d-flex">
    <div class="mr-auto p-2">
      {{#if prev}}
        <button class="btn btn-primary btn-sm mt-2" onclick="navigate(-1)">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Anterior
        </button>
      {{/if}}
    </div>
    <div class="p-2">
      {{#if next}}
        <button class="btn btn-primary btn-sm mt-2" onclick="navigate(1)">
          Próximo
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      {{/if}}
    </div>
  </div>
</div>