<div class="container mt-2">


    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}

    {{/each}}

    <form action="/products/newRequest" class="mt-2" method="POST">

        <input type="text" class="mt-2 form-control" id="id" name="id" value="{{product._id}}">
        <input type="text" class="mt-2 form-control" id="qrcode" name="qrcode" value="{{product.qrcode}}">
        <input type="text" class="mt-2 form-control" id="image" name="image" value="{{product.image}}">
        <input type="text" class="mt-2 form-control" id="group" name="group" value="{{product.group}}">
        <input type="text" class="mt-2 form-control" id="subgroup" name="subgroup" value="{{product.subgroup}}">
        <!--<input type="text" class="mt-2 form-control" id="fullDescription" name="fullDescription" value="{{product.fullDescription}}">-->
        <!--<input type="text" class="mt-2 form-control" id="stockCode" name="stockCode" value="{{product.stockCode}}">-->
        <input type="text" class="mt-2 form-control" id="localArea" name="localArea" value="{{product.localArea}}">
        <input type="text" class="mt-2 form-control" id="client" name="client" value="{{product.client}}">
        <input type="text" class="mt-2 form-control" id="local" name="local" value="{{product.local}}">
        <input type="text" class="mt-2 form-control" id="sublease" name="sublease" value="{{product.sublease}}">
        <input type="text" class="mt-2 form-control" id="patrimonialAsset" name="patrimonialAsset"
            value="{{product.patrimonialAsset}}">
        <input type="text" class="mt-2 form-control" id="description" name="description" value="{{product.description}}">
        <input type="text" class="mt-2 form-control" id="manufacturer" name="manufacturer" value="{{product.manufacturer}}">
        <input type="text" class="mt-2 form-control" id="model" name="model" value="{{product.model}}">
        <input type="text" class="mt-2 form-control" id="capacityReach" name="capacityReach"
            value="{{product.capacityReach}}">
        <input type="text" class="mt-2 form-control" id="serialNumber" name="serialNumber" value="{{product.serialNumber}}">
        <input type="text" class="mt-2 form-control" id="physicalStatus" name="physicalStatus"
            value="{{product.physicalStatus}}">
        <input type="text" class="mt-2 form-control" id="kindOfEquipment" name="kindOfEquipment"
            value="{{product.kindOfEquipment}}">
        <input type="text" class="mt-2 form-control" id="requiresCertificationCalibration"
            name="requiresCertificationCalibration" value="{{product.requiresCertificationCalibration}}">
        <input type="text" class="mt-2 form-control" id="inputAmount" name="inputAmount" value="{{product.inputAmount}}">
        <input type="text" class="mt-2 form-control" id="inputAmountSite" name="inputAmountSite"
            value="{{product.inputAmountSite}}">
        <input type="text" class="mt-2 form-control" id="outputQuantity" name="outputQuantity"
            value= 0>
        <input type="text" class="mt-2 form-control" id="stockQuantity" name="stockQuantity"
            value="{{product.stockQuantity}}">
        <input type="text" class="mt-2 form-control" id="stockTotal" name="stockTotal" value="{{product.stockTotal}}">
        <input type="text" class="mt-2 form-control" id="unity" name="unity" value="{{product.unity}}">
        <input type="text" class="mt-2 form-control" id="weightKg" name="weightKg" value="{{product.weightKg}}">
        <input type="text" class="mt-2 form-control" id="faceValue" name="faceValue" value="{{product.faceValue}}">
        <input type="text" class="mt-2 form-control" id="dimensionsWxLxH" name="dimensionsWxLxH"
            value="{{product.dimensionsWxLxH}}">
        <input type="text" class="mt-2 form-control" id="certificate" name="certificate" value="{{product.certificate}}">
        <input type="text" class="mt-2 form-control" id="entityLaboratory" name="entityLaboratory"
            value="{{product.entityLaboratory}}">
        <input type="text" class="mt-2 form-control" id="frequency" name="frequency" value="{{product.frequency}}">
        <input type="text" class="mt-2 form-control" id="calibrationDate" name="calibrationDate"
            value="{{product.calibrationDate}}">
        <input type="text" class="mt-2 form-control" id="calibrationValidity" name="calibrationValidity"
            value="{{product.calibrationValidity}}">
        <input type="text" class="mt-2 form-control" id="calibrationStatus" name="calibrationStatus"
            value="{{product.calibrationStatus}}">
        <input type="text" class="mt-2 form-control" id="po" name="po" value="{{product.po}}">
        <input type="text" class="mt-2 form-control" id="sapCode" name="sapCode" value="{{product.sapCode}}">
        <input type="text" class="mt-2 form-control" id="ncmCode" name="ncmCode" value="{{product.ncmCode}}">
        <input type="text" class="mt-2 form-control" id="provider" name="provider" value="{{product.provider}}">
        <input type="text" class="mt-2 form-control" id="note" name="note" value="{{product.note}}">
        <input type="text" class="mt-2 form-control" id="activeStatus" name="activeStatus" value="{{product.activeStatus}}">
        <!--CONTROLE DE USUÁRIOS LANÇAMENTO DO MATERIAL-->
        <input type="text" class="mt-2 form-control" id="releaseDateOf" name="releaseDateOf"
            value="{{product.releaseDateOf}}">
        <input type="text" class="mt-2 form-control" id="userLaunch" name="userLaunch" value="{{product.userLaunch}}">
        <input type="text" class="mt-2 form-control" id="emailLaunch" name="emailLaunch" value="{{product.emailLaunch}}">
        <!--CONTROLE DE USUÁRIOS ÚLTIMO LANÇAMENTO DO MATERIAL-->
        <input type="text" class="mt-2 form-control" id="editionDate" name="editionDate" value="{{product.editionDate}}">
        <input type="text" class="mt-2 form-control" id="userEdtion" name="userEdtion" value="{{product.userEdtion}}">
        <input type="text" class="mt-2 form-control" id="emailEdtion" name="emailEdtion" value="{{product.emailEdtion}}">
<button type="submit" class="btn btn-success">Salvar <i class="fas fa-share"></i></button>
    </form>
</div>

<div class="mt-2"></div>