<h3>Meus Pedidos</h3>
<hr>
<!--TABELA DE DADOS-->
{{#each transfers}}
    <div class="table-responsive">
        <table class="table table-hover table-sm table-bordered">

            <thead>
                <tr>
                    <th class="tb01" scope="col">Id</th>
                    <th class="tb02" scope="col">qrCode</th>
                    <th class="tb03" scope="col">Imagem</th>
                    <th class="tb05" scope="col">Grupos</th>
                    <th class="tb06" scope="col">Subgrupos</th>
                    <th class="tb04" scope="col">Bp/Descrição/Fab./Mod./Cap./Ns</th>
                    <th class="tb07" scope="col">Localização Atual</th>
                    <th class="tb08" scope="col">Status</th>
                    <th class="tb09" scope="col">Tipo de Equipamento</th>
                    <th class="tb10" scope="col">Qtd. em uso</th>
                    <th class="tb10" scope="col">Qtd. Estoque</th>
                    <th class="tb11" scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                
                <form id="form_cart" method="POST">
                    <input type="hidden" class="mt-2 form-control" id="id" name="id" value="{{_id}}">
                    <input type="hidden" class="mt-2 form-control" id="qrcode" name="qrcode" value="{{qrcode}}">
                    <input type="hidden" class="mt-2 form-control" id="image" name="image" value="{{image}}">
                    <input type="hidden" class="mt-2 form-control" id="group" name="group" value="{{group._id}}">
                    <input type="hidden" class="mt-2 form-control" id="subgroup" name="subgroup"
                        value="{{subgroup._id}}">
                    <!--<input type="hidden" class="mt-2 form-control" id="fullDescription" name="fullDescription" value="{{fullDescription}}">-->
                    <!--<input type="hidden" class="mt-2 form-control" id="stockCode" name="stockCode" value="{{stockCode}}">-->
                    <!--<input type="hidden" class="mt-2 form-control" id="localArea" name="localArea" value="{{localArea._id}}">-->
                    <input type="hidden" class="mt-2 form-control" id="local" name="local" value="{{local._id}}">
                    <input type="hidden" class="mt-2 form-control" id="sublease" name="sublease"
                        value="{{sublease._id}}">
                    <input type="hidden" class="mt-2 form-control" id="patrimonialAsset" name="patrimonialAsset"
                        value="{{patrimonialAsset}}">
                    <input type="hidden" class="mt-2 form-control" id="description" name="description"
                        value="{{description}}">
                    <input type="hidden" class="mt-2 form-control" id="manufacturer" name="manufacturer"
                        value="{{manufacturer}}">
                    <input type="hidden" class="mt-2 form-control" id="model" name="model" value="{{model}}">
                    <input type="hidden" class="mt-2 form-control" id="capacityReach" name="capacityReach"
                        value="{{capacityReach}}">
                    <input type="hidden" class="mt-2 form-control" id="serialNumber" name="serialNumber"
                        value="{{serialNumber}}">
                    <input type="hidden" class="mt-2 form-control" id="physicalStatus" name="physicalStatus"
                        value="{{physicalStatus._id}}">
                    <input type="hidden" class="mt-2 form-control" id="kindOfEquipment" name="kindOfEquipment"
                        value="{{kindOfEquipment._id}}">
                    <input type="hidden" class="mt-2 form-control" id="requiresCertificationCalibration"
                        name="requiresCertificationCalibration" value="{{requiresCertificationCalibration}}">
                    <input type="hidden" class="mt-2 form-control" id="inputAmount" name="inputAmount"
                        value="{{inputAmount}}">
                    <input type="hidden" class="mt-2 form-control" id="inputAmountSite" name="inputAmountSite"
                        value="{{inputAmountSite}}">
                    <input type="hidden" class="mt-2 form-control" id="outputQuantity" name="outputQuantity"
                        value="{{outputQuantity}}">
                    <input type="hidden" class="mt-2 form-control" id="stockQuantity" name="stockQuantity"
                        value="{{stockQuantity}}">
                    <input type="hidden" class="mt-2 form-control" id="stockTotal" name="stockTotal"
                        value="{{stockTotal}}">
                    <input type="hidden" class="mt-2 form-control" id="unity" name="unity" value="{{unity._id}}">
                    <input type="hidden" class="mt-2 form-control" id="weightKg" name="weightKg" value="{{weightKg}}">
                    <input type="hidden" class="mt-2 form-control" id="faceValue" name="faceValue"
                        value="{{faceValue}}">
                    <input type="hidden" class="mt-2 form-control" id="dimensionsWxLxH" name="dimensionsWxLxH"
                        value="{{dimensionsWxLxH}}">
                    <input type="hidden" class="mt-2 form-control" id="certificate" name="certificate"
                        value="{{certificate}}">
                    <input type="hidden" class="mt-2 form-control" id="entityLaboratory" name="entityLaboratory"
                        value="{{entityLaboratory}}">
                    <input type="hidden" class="mt-2 form-control" id="frequency" name="frequency"
                        value="{{frequency._id}}">
                    <input type="hidden" class="mt-2 form-control" id="calibrationDate" name="calibrationDate"
                        value="{{calibrationDate}}">
                    <input type="hidden" class="mt-2 form-control" id="calibrationValidity" name="calibrationValidity"
                        value="{{calibrationValidity}}">
                    <input type="hidden" class="mt-2 form-control" id="calibrationStatus" name="calibrationStatus"
                        value="{{calibrationStatus}}">
                    <input type="hidden" class="mt-2 form-control" id="po" name="po" value="{{po}}">
                    <input type="hidden" class="mt-2 form-control" id="sapCode" name="sapCode" value="{{sapCode}}">
                    <input type="hidden" class="mt-2 form-control" id="ncmCode" name="ncmCode" value="{{ncmCode}}">
                    <input type="hidden" class="mt-2 form-control" id="provider" name="provider"
                        value="{{provider._id}}">
                    <input type="hidden" class="mt-2 form-control" id="note" name="note" value="{{note}}">
                    <input type="hidden" class="mt-2 form-control" id="activeStatus" name="activeStatus"
                        value="{{activeStatus}}">
                    <!--CONTROLE DE USUÁRIOS LANÇAMENTO DO MATERIAL-->
                    <input type="hidden" class="mt-2 form-control" id="releaseDateOf" name="releaseDateOf"
                        value="{{releaseDateOf}}">
                    <input type="hidden" class="mt-2 form-control" id="userLaunch" name="userLaunch"
                        value="{{userLaunch._id}}">
                    <input type="hidden" class="mt-2 form-control" id="emailLaunch" name="emailLaunch"
                        value="{{emailLaunch}}">
                    <!--CONTROLE DE USUÁRIOS ÚLTIMO LANÇAMENTO DO MATERIAL-->
                    <input type="hidden" class="mt-2 form-control" id="editionDate" name="editionDate"
                        value="{{editionDate}}">
                    <input type="hidden" class="mt-2 form-control" id="userEdtion" name="userEdtion"
                        value="{{userEdtion}}">
                    <input type="hidden" class="mt-2 form-control" id="emailEdtion" name="emailEdtion"
                        value="{{emailEdtionn}}">
                    <tr>
                        <th class="tb01">{{_id}}</th>

                        <th class="tb02">
                            <figure class="figure">
                                <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{qrcode}}"
                                    class="figure-img img-fluid rounded" style="max-width: 4rem;"
                                    alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                                <!--<figcaption class="figure-caption">Uma legenda para a imagem acima.</figcaption>-->
                            </figure>
                        </th>

                        <td class="tb03">
                            <figure class="figure">
                                <img src="{{image}}" class="figure-img img-fluid rounded" style="max-width: 4rem;"
                                    alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                                <!--<figcaption class="figure-caption">Uma legenda para a imagem acima.</figcaption>-->
                            </figure>
                        </td>

                        <td class="tb05">{{group.description}}</td>

                        <td class="tb06">{{subgroup.description}}</td>

                        <td class="tb04">{{fullDescription}}</td>

                        <td class="tb07">{{client.description}}</td>

                        <td class="tb08">{{physicalStatus.description}}</td>

                        <td class="tb08">{{kindOfEquipment.description}}</td>

                        <td class="tb08">{{inputAmount}}</td>

                        <td class="tb08">{{stockQuantity}}</td>

                        <td>
                            <button id="updateCart" type="submit" class="mt-1 mb-1 btn btn-primary btn-sm">
                                <i class="fas fa-cart-arrow-down"></i></button>

                            <button id="saveCart" type="submit" class="mt-1 mb-1 btn btn-success btn-sm">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i></button>

                            <a href="/products/take/{{_id}}" class="mt-1 mb-1 btn btn-dark btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Visualizar detalhes">
                                <i class="fas fa-align-left"></i>
                            </a>

                            <a href="/products/move/{{_id}}" class="mt-1 mb-1 btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="bottom" title="Movimentação interna">
                                <i class="fas fa-file-signature"></i>
                            </a>

                            <a href="/products/add_id/{{_id}}" class="mt-1 mb-1 btn btn-success btn-sm"
                                data-toggle="tooltip" data-placement="bottom"
                                title="Criar novo produto a partir dessas informações">
                                <i class="far fa-clone"></i>
                            </a>

                            <a href="/products/edit/{{_id}}" class="mt-1 mb-1 btn btn-secondary btn-sm"
                                data-toggle="tooltip" data-placement="bottom" title="Ediar Produto">
                                <i class="fas fa-pen"></i>
                            </a>

                            <a href="/products/delete/{{_id}}" class="mt-1 mb-1 deletar btn btn-danger btn-sm"
                                data-toggle="tooltip" data-placement="bottom" title="Deletar Produto">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>

                    </tr>
                </form>
                {{else}}
                <h4 class="mt-12 mb-2">
                    Nenhum Produto Registrado!
                </h4>
                {{/each}}
            </tbody>

        </table>
    </div>
