<div class="container">

    {{#each erros}}
    <div class="mt-2 alert alert-danger">{{texto}}</div>
    {{else}}

    {{/each}}



    <h3 class="mt-2">Editando um Fornecedor</h3>

    <hr>
    <form action="/products/update/{{product._id}}?_method=PUT" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="_method" value="PUT">
        <div class="row no-gutters position-relative">
            <div class="col-md-4 position-static">
                <div class="d-flex justify-content-center">
                    <img src="{{product.image}}" class="avatar img-fluid rounded" alt="" style="width: 12rem;">
                </div>
                <figcaption class="figure-caption text-center">Clique na imagem para fazer o upload, a imagem é
                    obrigatória!</figcaption>
                <div class="d-flex p-1 justify-content-center">

                    <input type="file" accept="image/*" name="file" id="file"
                        class="btn-file text-center center-block file-upload">
                </div>
            </div>
            <div class="col-md-4 position-static px-2">
                
                <input type="hidden" class="form-control mt-2" name="image" id="image">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label style="font-size: small ;" for="group">Grupo:</label>
                        <select class="custom-select custom-select-sm" id="group" name="group"
                            value="{{product.group}}">
                            <option selected disabled value="">Selecione...</option>
                            {{#each groups}}
                            <option {{#if_eq ../product.group _id}}selected{{/if_eq}} value="{{_id}}">{{description}}
                            </option>
                            {{else}}
                            <option value="0">Nenhum grupo registrado</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label style="font-size: small ;" for="subgroup">Subgrupo:</label>
                        <select class="custom-select custom-select-sm" id="subgroup" name="subgroup"
                            value="{{product.subgroup}}">
                            <option selected disabled value="">Selecione...</option>
                            {{#each subgroups}}
                            <option {{#if_eq ../product.subgroup _id}}selected{{/if_eq}} value="{{_id}}">{{description}}
                                {{else}}
                            <option value="0">Nenhum Subgroup registrado</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label style="font-size: small ;" for="type">Tipo de Equipamento:</label>
                        <select class="custom-select custom-select-sm" id="type" name="type" value="{{product.type}}">
                            <option selected disabled value="">Selecione...</option>
                            {{#each types}}
                            <option {{#if_eq ../product.type _id}}selected{{/if_eq}} value="{{_id}}">{{description}}
                                {{else}}
                            <option value="0">Nenhum tipo de equipamento registrado</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 position-static ">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label style="font-size: small ;" for="name">Descrição:</label>
                        <input type="text" class="form-control form-control-sm" id="name" name="name"
                            placeholder="Digite aqui aqui a descrição" value="{{product.name}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label style="font-size: small ;" for="capacityReach">Capacidade Alcance:</label>
                        <input type="text" class="form-control form-control-sm" id="capacityReach" name="capacityReach"
                            placeholder="Digite aqui aqui a descrição" value="{{product.capacityReach}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label style="font-size: small ;color: transparent" for="button">Salvar:</label>
                        <input type='submit' class='btn btn-success btn-sm btn-block' value='Salvar'>
                    </div>
                </div>
            </div>
        </div>
        <!--CONTROLE DE USUÁRIOS LANÇAMENTO -->
        <input type="hidden" class="form-control mt-2" name="userCreated" id="userCreated"
            value="{{product.userCreated}}">
        <input type="hidden" class="form-control mt-2" name="emailCreated" id="emailCreated"
            value="{{product.emailCreated}}">
        <input type="hidden" class="form-control mt-2" name="createdAt" id="createdAt" value="{{product.createdAt}}">
        <!--CONTROLE DE USUÁRIOS -->
        <input type="hidden" class="form-control mt-2" name="userUpdated" id="userUpdated" value="{{user.name}}">
        <input type="hidden" class="form-control mt-2" name="emailUpdated" id="emailUpdated" value="{{user.email}}">
    </form>
</div>